<% if !@cellar_items.blank? %>
<% @cellar_items.each_with_index do |item, index| %>
<span>
  <%= link_to wine_path(item.wine_detail) do %>
  <% if index > 1 %>
  <%= wine_cover_tag(item.wine_detail, 
      :thumb_name => :thumb_x,
      :width => 100,
      :height => 100) %>
  <% else %>
  <%= wine_cover_tag(item.wine_detail, 
      :thumb_name => :middle,
      :width => 201, 
      :height => 201) %>
  <% end %>
  <% end %>
</span>
<% end %>
<div class="clear"></div>
<% else %>
<p>暂时没有藏酒！</p>
<% end %>
