<% if !@following_wines.blank? %>
<% @following_wines.collect{|i| i.commentable }.each_with_index do |wine, index| %>
<span>
  <%= link_to wine_path(wine) do %>
  <% if index > 1 %>
  <%= wine_label_tag(wine,
      :thumb_name => :thumb_x,
      :width => 100,
      :height => 100) %>
  <% else %>
  <%= wine_label_tag(wine,
      :thumb_name => :middle,
      :width => 201, 
      :height => 201) %>
  <% end %>
  <% end %>
</span>
<% end %>
<div class="clear"></div>
<% else %>
<p>暂时没有关注的酒！</p>
<% end %>
