<ul class="sidewine">
  <% @hot_wineries.each do |winery|%>
  <li>
    <%= link_to winery_path(winery) do %>
    <%= winery_label_tag winery, :thumb_name => :thumb, :width => 70, :height => 70 %>
    <% end %>
    <div class="info">
    <h3 class="zh">
      <%= link_to winery.name_zh, winery_path(winery) %>
    </h3>
    <h3 class="en">
      <%= link_to winery.origin_name, winery_path(winery) %>
    </h3> 
    </div>     
  </li>
  <% end %>
  <div class="clear"></div>
<ul>
