<% content_for :css do  %>
    <%= theme_stylesheet_link_tag "winery" %>
<% end %>

 <div class="whitespace mb30">
    <%= render "winery_detail" %>
 </div>

 <div class="whitespace winerymain">
 	<div class="left">
 		<div class="section">
 			<div class="title">
 				<%= link_to winery_photos_path(@winery), :class => "btn_gray float_r" do %>
 					<span>返回</span>
 				<% end %>
 				<h2>上传图片</h2>
 			</div>

 			<div class="content">
 				<%= render "share/upload_photo" %>
			</div>
 		</div>
 		<div class="clear"></div>
 	</div>
 	<div class="right">
 	</div>
 	<div class="clear"></div>
 </div>
