<% content_for :css do  %>
    <%= theme_stylesheet_link_tag "winery" %>
<% end %>

 <div class="whitespace mb30">
    <%= render "winery_detail" %>
 </div>

 <div class="whitespace winerymain">
 	<div class="left">
 		
 	</div>
 	<div class="right">

 	</div>
 </div>