<div class="wines">
	<% for detail in @wines %>
	<div class="wine">
		<div class="image">
			<%= image_tag detail.cover.image_url(:w_thumb), :title => "title", :class => "class" if detail.cover.respond_to? 'image_url' %>
		</div>
		 <h3> <%= link_to detail.name, :controller => "wines", :action => "show", :wine_detail_id => detail %></h3>
		<ul>
			<li></li>
	    </ul>
	<!-- end .wine -->
   </div>
  <% end %>
<!-- end .wines -->
</div>