<% content_for :title, @title%>
<% content_for :css do %>
    <%= stylesheet_link_tag :add %>
<% end %>

<div class="whitespace addwine">
  <%= render "wine_details/addwine_step", :step => "step_thr" %>
  <div class="success">
    <p>
      信息提交成功！<br/><br/>
      我们将会对您添加和上传的内容进行正确性审核，这可能需要一定的时间，请耐心等候。<br />
      一旦审核通过，该酒款就会收录到iWine数据库，以供所有用户浏览。
    </p>
    <p>感谢您的参与！</p>
  </div>
</div>