<div class="message_notice">
	<% if message_count.to_i > 0 %><%= link_to "有#{message_count}条私信", conversations_path %> <br/><% end %>
	<% if receipt_count.to_i > 0 %><%= link_to "有#{receipt_count}条通知", system_messages_path %><% end %>
</div>