<link rel="stylesheet" href="/javascripts/jquery-file-upload/css/jquery.fileupload-ui.css">
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/javascripts/jquery-file-upload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/javascripts/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="/javascripts/load-image.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/javascripts/jquery-file-upload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/javascripts/jquery-file-upload/js/jquery.fileupload.js"></script>
<!-- The File Upload file processing plugin -->
<script src="/javascripts/jquery-file-upload/js/jquery.fileupload-fp.js"></script>
<!-- The File Upload user interface plugin -->
<script src="/javascripts/jquery-file-upload/js/jquery.fileupload-ui.js"></script>
<!-- The localization script -->
<script src="/javascripts/jquery-file-upload/js/locale.js"></script>
<!-- The main application script -->
<script>

$(function () {
    'use strict';

        // Initialize the jQuery File Upload widget:
        $('#fileupload').fileupload();

        // Enable iframe cross-domain access via redirect option:
        // $('#fileupload').fileupload(
        //     'option',
        //     'redirect',
        //     window.location.href.replace(
        //         /\/[^\/]*$/,
        //         '/cors/result.html?%s'
        //         )
        //     );

        $('#fileupload').fileupload('option', {
            maxFileSize:5000000, // 5MB
            acceptFileTypes:/(\.|\/)(gif|jpe?g|png)$/i,
            sequentialUploads:true,
            maxNumberOfFiles: 10,
            process:[
            {
                action:'load',
                fileTypes:/^image\/(gif|jpeg|png)$/,
                    maxFileSize:30000000 // 30MB
                },
                {
                    action:'resize',
                    maxWidth:2048,
                    maxHeight:2048
                },
                {
                    action:'save'
                }
                ]
            });

        // if ($.support.cors) {
        //     $.ajax({
        //         url:'//jquery-file-upload.appspot.com/',
        //         type:'HEAD'
        //     }).fail(function () {
        //         $('<span class="alert alert-error"/>')
        //         .text('Upload server currently unavailable - ' +
        //             new Date())
        //         .appendTo('#fileupload');
        //     });
        // }

        // AJAX
        $('#fileupload')
        .bind('fileuploadstop', function (e, data) {
          var photo_ids = new Array();
          var album_id = new String();

          // Get Photo Ids
          $.each($("input.photos"), function(index, item){ photo_ids.push($(item).val())})
          var photos_ids_to_str = photo_ids.join(",")

          // Get Album Id
          album_id =  $("input.album").first().val();

          // Redirect To Album
          var w = window.location;
          var url = w.protocol + "//" + w.host + "/";
          var back_url = '<%= @winery ? ("wineries/#{@winery.slug}") : (@event ? ("events/#{@event.id}") : ("wines/#{@wine_detail.slug}")) %>';
          if($("input[name=save_to_album]").is(":checked")){ 
            window.location.replace(url + "albums/upload_list?photo_ids=" + photos_ids_to_str + "&album_id=" + album_id);
          }else{
            window.location.replace(url + $(this).val() + back_url + "/photos");
          }
        })
        // UI
        $('#fileupload')
        .bind('fileuploadadded', function (e, data) {
          $("div.fileupload-buttonbar").show();
        })
        // Load existing files:
        // $('#fileupload').each(function () {
        //     var that = this;
        //     $.getJSON(this.action, function (result) {
        //         if (result && result.length) {
        //             $(that).fileupload('option', 'done')
        //             .call(that, null, {result:result});
        //         }
        //     });
        // });

        
    });

</script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="/javascripts/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script><![endif]-->