<% if controller_name == 'cellars'%>

<div class="winery bg_shadow_red">
	<div class="bg_bigshadow_red"></div>
	<div id="maincontent">
		
	<% elsif  %>
	
	<div class="bg_shadow">
		<div class="bg_bigshadow"></div>
		<div><%= image_tag 'base/bg_white_t.gif' %></div>
		<div id="maincontent" class="common_main">
			
<% end %>