<% nav_items = { :home => 'static', :wines => 'wines', :wineries => 'wineries',  :events => 'events', :mine => 'mine' } %>
<div id="globel_navi">
   <ul>
	<% nav_items.each do |key, value| %>
     <li>
		<% (controller_path =~ /#{value}/) == 0  ? class_name = 'current' : '' %>
		<%= link_to "/#{key}",  :class => class_name  do %>
		<span><%= t ("nav.#{key}") %></span>			
		<% end %>
	 </li>
	<% end %>
   </ul>
 </div>
