<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="style/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    	<div id="header_main">
          <div id="logo"><a href="http://www.iwine.com"><img src="image/logo.gif" width="156" height="48" alt="iWine" /></a></div>
        </div>
    </div>
    <div id="mainholder">
    	<div class="appname"><img src="image/iwine_notes.gif" alt="iWine Notes" width="582" height="84" /></div>
        <div class="content">
          <p>iWine  Notes （爱红酒品酒笔记）是为葡萄酒爱好者们定制的小工具。</p>
          <p>&nbsp;</p>
          <p>它可以拍摄酒的图像，记录时间、地点、人物、葡萄酒的产区信息和物理指标，并按照国际通行标准系统化的记录品酒辞：涵盖外观、芳香、口感和质量评语；用户也可以选择使用较为简洁而随性的方式，按照自己的风格抒写品酒感言，并打出自己判定的分数或者星级。所有的品酒记录，都存储在云端，可供随时调用。同时可以设置默认发布到指定微博账户，或者手动分享到电子邮件、短信或者彩信。</p>
          <p>&nbsp;</p>
          <p>它是一个工具，但更是享受葡萄酒生活的魔法棒。</p>
          <p>&nbsp;</p>
          <p>支持多种语言： <img src="image/flag.gif" width="309" height="30" align="absmiddle" /> </p>
          <p class="download clearfix"><a href="https://itunes.apple.com/cn/app/iwine-notes/id572825000?ls=1&mt=8" target="_blank"><img src="image/btn_appstore.jpg" alt="App Store" width="206" height="63" /></a><a href="#"><img src="image/btn_91.jpg" width="206" height="63" /></a></p>
      </div>
    </div>
</body>
</html>
