<h1>我的酒窖</h1>
<ul class="winery_tab">
	<li><a href="cellar_mycellar.html" class="current"><span>我的藏酒</span></a></li>
	<li><a href="cellar_bid_record.html"><span>我竞拍的酒(3)</span></a></li>
	<li><a href="cellar_bid_record2.html"><span>别人拍我的酒(2)</span></a></li>
</ul>