log/*
tmp/*
.DS_Store
*.tmproj
Thumbs.db
._*
nbproject/
.project
tmtags
*.swp
.settings/
.gitkeep
.idea/*
config/database.yml
config/oauth/douban.yml
config/oauth/qq.yml
config/oauth/sina.yml
config/oauth/development_all.yml
config/oauth/production_all.yml
config/notes/http.dev.yml
config/notes/http.live.yml
public/uploads/*
.sass-cache
Capfile
.idea/workspace.xml
db/schema.rb
.idea/workspace.xml
db/wine_variety_i18n.csv
.rakeTasks
.idea/.rakeTasks
schema.rb
notify.log
lib/wines_photos
/db/schema.rb
/notify.log
public/assets
/lib/region_tree.csv
*.swo
*.swn
*.swm
coverage
rails_best_practices_output.html
