<div class="item">
  <div class="pic">
   <%#= wine_cover_tag(comment.commentable, :thumb_name => :w_thumb)%>
  </div>
  <p class="comment_info">
    评论 <a href="#"> <%#= comment.commentable.cname %></a> <%= comment.updated_at.strftime '%Y-%m-%d' %>
    <% if comment.point.present? %>
      <span class="star_s<%=(comment.point/2).to_s%>"></span>
    <% end %>
  </p>
  <p class="description"> <%= comment.body %> </p>
</div>
