@charset "UTF-8";
#hp {background:url(../v2/messages/bg/bg_headerline.gif) repeat-x left 130px;padding:30px 40px;}
.hp_header {margin:0 0 50px 0;}
.hp_userimg {float:left;width:130px;margin:0 20px 0 0;}
.hp_right {float:right;}
.hp_info {float:left;width:550px;position:relative;}
.hp_info .username {font-size:20px;font-weight:bold;margin:0 0 5px 0;}
.hp_info .mystatu {margin:0 0 20px 0;color:#666;}
.hp_info .mystatu span {display:inline-block;margin-left:20px;}
.hp_info ul.hp_navi{position:absolute; width:550px;top:100px;}
.hp_navi li {float:left;height:50px}
.hp_navi li a {display:block;height:38px;padding:7px 15px 0 15px;text-align:center;color:#333;float:left;}
.hp_navi li a:hover {background:url(../v2/messages/bg/bg_navi.gif) repeat-x left top;text-decoration:none;}
.hp_navi li.current a {background:url(../v2/messages/bg/bg_navi.gif) repeat-x left top;}
.btn_action, .share_btn .btn {float:right;}
#hp .title_btn {margin:0 0 30px 0;}
.title_btn h1 {font-size:18px;}
.album_right h2 {font-size:14px;}
.side_album_list h3 {font-size:12px;}

/*-------------album style----------------*/
ul.album_list {padding:0 0 0 10px}
ul.album_list li {float:left;width:163px; margin:0 25px 40px 25px;}
ul.album_list li img.cover {background:url(../v2/messages/bg/bg_album.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 10px 0;}
ul.album_list li h2, ul.photo_list li .name, .album_left .photo .name, .side_album_list h3 {font-size:13px;margin:0 0 5px 0;}
ul.album_list li h2 a, .side_album_list h3 a, .like a {color:#333;}
ul.album_list li h2 a:hover, .side_album_list h3 a:hover, .like a:hover {color:#cc3333;text-decoration:none;}
ul.album_list li .info, ul.photo_list li .info, .side_album_list .info  {color:#999;}
ul.photo_list li {display:inline-block; vertical-align:top; width:190px;margin:0 33px 40px 0;}
ul.photo_list li.last {margin-right:0;}
ul.photo_list li img {margin:0 0 10px 0;}
ul.photo_list li .intro, .album_left .photo .intro{margin:0 0 5px 0;}
.share_btn {border-top:1px solid #ccc;padding:15px 0 0 0;margin:30px 0 0 0;}
.share {width:175px;}
.share img{margin:0 5px 0 0;}
.content .album_left {width:620px;float:left;margin:0 40px 0 0;}
.content .album_right {width:210px;float:left;}
.album_left .info {border-top:1px solid #ccc;padding:10px 0 0 0;margin:15px 0 40px 0;color:#666;}
.album_left .photo img {margin:0 0 10px 0;}
.album_left .comment_list .main {width:550px;}
.album_left .post_main {width:520px;}
.album_left .post_main textarea {width:508px;height:80px;}
.album_right h2 {margin:0 0 20px 0;}
img.cover_s {background:url(../v2/messages/bg/bg_album_s.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 5px 0;}
.side_album_list li {margin:0 0 30px 0;}
.add_album {margin:0 0 0 20px;}
input.photo_name, textarea.photo_des {width:184px;}
textarea.photo_des {min-height: 70px;} 
li.photo_des p {margin: 0 0 5px 0;}

/*------------cellar style--------------*/
.sort_search { vertical-align:middle;}
.sort {float:left;margin:0 15px 0 0;}
.sort_search .search {float:left;}
#cellar .search input {width:250px;}
.wine_data table {border-top:1px solid #ccc;margin: 0 0 30px 0;}
.wine_data th, .wine_data td {padding:15px;border-bottom:1px solid #ccc;}
.wine_data th {background-color:#f3f3f3;font-size:13px;}
.wine_data td.img, .wine_data td.year , .wine_data td.count, .wine_data td.price, .wine_data td.place{text-align:center;}
.wine_data td.img {width:50px;}
.wine_data td.year {width:40px;}
.wine_data th.des, .wine_data th.info {text-align:left;}
.wine_data td.des {width:150px;}
.wine_data td.info {width:150px;}
#cellar .step {margin: 0 0 40px 0;}
.step_fir, .step_sec, .step_thr {background:url(../common/step_cellar_addwine.jpg) no-repeat;height:40px;}
.step .step_fir {background-position:0 0;}
.step .step_sec {background-position:0 -40px;}
.step .step_thr {background-position:0 -80px;}
.wine_list li {background:url(../v2/messages/bg/wine_search_bg.jpg) no-repeat left top;height:76px;padding:20px 30px;margin:0 0 20px 0;}
.wine_list .wine_img {float:left;width:70px;margin: 0 20px 0 0;}
.wine_list .add_to_cellar {float:right;padding: 20px 0 0 0;}
.wine_list .wine_info {float:left;width:600px;}
.wine_list .wine_info h2 {font-size:14px;}
.wine_list .wine_info h3 {font-size:12px;font-weight:normal;color:#666;}
