@charset "UTF-8";
h1, h2, h3, h4, h5, h6, ul, li, p, dl, dd, dt {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #cc3333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  border: none;
}
i {
  color: #ccc;
}
.mr5 {
  margin-right: 5px;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
.clear {
  clear: both;
  font: 0pt/0 Arial;
  height: 0;
  visibility: hidden;
}
.path {
  margin: 15px 0;
}
textarea, input.text {
  border: 1px solid #ccc;
}

#mainspace860 {
/*  width: 800px;*/
  margin: 0 auto;
  background-color: #fff;
/*  box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/
  padding: 30px;
}
#message {
  width: 600px;
  margin: 0 auto;
}
#message h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
#message .search_space {
  float: right;
}
.message_search {
  float: right;
}
.search_space input {
  height: 24px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.search_space .search_btn {
  background: url(message/icon/search.gif) no-repeat left top;
  height: 26px;
  width: 26px;
  float: right;
}
.message_list {
  margin-top: 20px;
}
.message_list .userimg, .send_private_msg .userimg {
  float: left;
  display: inline-block;
  margin-right: 10px;
}
.message_list .content p span, .message_talk .content p span {
  float: right;
}
.message_list .content p.info, .message_talk .content p.info {
  margin-top: 10px;
}
ul.private_list {
  border-top: 1px solid #ccc;
}
ul.private_list li {
  padding: 15px 10px;
  border-bottom: 1px solid #ccc;
}
.send_private_msg {
  margin: 0 0 15px 0;
}
.send_private_msg .title {
  padding-left: 60px;
  color: #333;
  margin-bottom: 5px;
}
.send_private_msg .content {
  float: left;
  width: 480px;
}
.send_private_msg textarea {
  height: 80px;
  width: 480px;
  margin-bottom: 10px;
}
.send_private_msg .btn {
  text-align: right;
}
.message_talk {
  margin: 10px 0 0 0;
}
.talk_l, .talk_r {
  margin: 0 0 10px 0;
}
.talk_r {
  padding-left: 60px;
}
.talk_l .userimg {
  float: left;
  width: 50px;
  margin: 0 10px 0 0;
}
.talk_r .userimg {
  float: right;
  width: 50px;
  margin: 0 0 0 10px;
}
.message_talk .content {
  float: left;
  display: inline-block;
  width: 460px;
}
.talk_l .content {
  background-color: #f3f3f3;
  padding: 10px;
}
.talk_r .content {
  background-color: #f9f9f9;
  padding: 10px;
}



/*button style*/
a.btn_gray, a.btn_gray span, a.btn_gray:hover, a.btn_gray:hover span {
  background: url(messages/bg/button_bg.jpg) no-repeat;
}
a.btn_gray {
  background-position: left top;
  display: inline-block;
  padding-left: 10px;
  color: #333;
  text-decoration: none;
}
a.btn_gray span {
  background-position: right top;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding-right: 10px;
}
a.btn_gray:hover {
  background-position: left -25px;
}
a.btn_gray:hover span {
  background-position: right -25px;
}

/*reply_form */
.reply_form h3 {
  margin: 6px 0;
}
.reply_form table {
/*  margin-top: 15px;*/
}
.reply_form table tr td.label{
  width: 70px;
  text-align:right;
}
.reply_form textarea {
  height: 70px;
  width: 340px;
}
.reply_form table tr td label {
  display: block;
}
/*reply_form end*/
