$background_color_grey: #F0F0F0;
$background_color_red: #B90000;
$button_background_green: #85AE55;
$text_color_grey: #333;
$h4_font_size: 14px;
#main {
    @include single-box-shadow;
}
.mine {
    .item.dotted {
         border-bottom: 1px dotted #CCC;
    }
    .item {
        overflow: auto;
        .delete {
            position: absolute;
            right: 10px;
            top: 0;
        }
        .edit {
            position: absolute;
            right: 30px;
            top: 0px;
        }
        }
    /* Mine Layout  */
    .font_12 {
        font-size: 12px;
    }
    h4 {
        font-size: $h4_font_size;
        a {
            color: $text_color_grey;
        }
        }
    #cu_user_menu {
        .user_info {
            .avatar {
                width: 130px;
                float: left;
                margin-right: 10px;
                z-index: 10000;
            }
            .text_info {
                float: left;
            }
            .button {
                background: #B90000;
                color: #FFF;
                width: 80px;
                height: 26px;
                padding-top: 8px;
                text-align: center;
                font-size: 14px;
                right: 0;
                top: 20px;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .sub_nav  {
            top: 80px;
            width: 800px;
            padding-top: 10px;
            padding-left: 150px;
            height: 40px;
            background: $background_color_grey;
            ul {
                margin: 0 auto;
                li {
                    @include horizontal-list-item;
                    text-align: center;
                    a {
                        color: $text_color_grey;
                    }
                }

            }
        }
    }

/* mine layout end  */


}

/* 首页  */
.mine.index {



    .box_1 {
        margin-top: 30px;

    }
    .box {
        overflow: auto;
        margin-bottom: 25px;
        h3 {
            margin: 10px 0;
            font-size: 16px;
            .font_12 {
                font-size: 12px;
                font-weight: normal;
                margin-left: 15px;
            }
        }
    }
    .left {
        width: 640px;
        float: left;
        .cellar, .wine_follows {
            .large_list {
                a img {
                    margin-right: 2px;
                }
            }
            .small_list {
                a img {
                    margin-bottom: 2px;
                }
            }
        }
        .detail_comments {
            h4 {
                padding: 8px 0 0 5px;
                background: #F3F3F3;
                height: 40px;
                .absolute {
                    right: 10px;
                    font-size: 24px;
                    top: 5px;
                    .font_12 {
                        font-weight: normal;
                        font-size: 12px;
                        color: $text_color_grey;
                    }
                }
            }
            .label span {
                display: block;
                width: 41px;
                background: url(icon/oval_bg.png) no-repeat center center;
                color: #FFF;
                text-align: center;
            }
        }

        .simple_comments .item {
            overflow: auto;
            .pic {
                margin-right: 20px;
                width: 90px;
                float: left;
            }
        }

    }
    .right {
        width: 204px;
        float: right;
        img {
            display: block;
            float: left;
        }
    }
}

/* 首页结束 */


/* 关注的酒 */
.mine.wine_follows {
    .box .pic {
        float: left;
        margin-right: 10px;

        }
    .item {
        overflow: auto;
        padding: 15px 0;
    }

 }
/* 关注的酒 结束*/


/* 关注的人 */
.mine.user_follows {
    .box .pic {
        float: left;
        margin-right: 10px;
        height: 70px;
        }
    .item {
        height: 74px;
        width: 150px;
        float: left;
        overflow: auto;
        padding: 15px 0;
        p {
            margin: 5px 0;
        }
    }
    .right .item {
        width: 140px;
        padding: 0;
    }

      a.find_friends {
            width: 130px;
            height: 30px;
            background: $button_background_green;
            color: #FFF;
            text-align: center;
            padding-top: 10px;
            font-size: 14px;
            font-weight: bold;
        }

 }
/* 关注的人 结束*/

/* 简评 开始 */

.mine.simple_comments {
    .box .item {
        padding: 20px 0;
        .pic {
            float: left;
            margin-right: 10px;
        }
        .float_right {
            float: right;
        }
    }
}

/*简评 结束*/
