.settings {
    padding: 0 0 0 20px;
}
.settings.basic {

    position: relative;
}

.settings.basic .right {
    position: absolute;
    right: 120px;
    top: 0;
    height: 243px;
    padding-left: 70px;
    padding-top: 50px;
    text-align: center;
    background: url('dotted_line_v.png') no-repeat left center;
}
.settings.basic .right img {
    margin: 0 10px 10px 0;
    }
.settings.basic .left  table td.label {
    text-align: right;
}

.settings.basic .left  table td.text_input input {
    width: 225px;
}

.settings.basic .left  textarea {
    height: 97px;
    width: 229px;
}


/* update password start  */
.settings.update_password {
    padding-left: 40px;
    }
.settings.update_password form table td.label {
 text-align: right;
 }


/* update password end */


/* avatar start */
.settings.avatar .left {
    width: 400px;
    float: left;
    }

.settings.avatar .right {
    width: 300px;
    float: right;

    }

.settings.avatar .right p {
    margin-bottom: 20px;
    width: 280px;
    }
.settings.avatar .right img {
    margin: 0  10px 20px 0;
 }

/* avatar end */

/* privacy start */
.settings.privacy h2, .settings.privacy h3 {
    color: #000;
}
.settings.privacy h2 {
    font-size: 14px;
    margin: 15px 0;
}
.settings.privacy h2 span, .settings.privacy h3 span {
    color: #BBB;
    font-size: 12px;

    }
.settings.privacy h3 {
    font-size: 12px;
    margin: 15px 0 5px 10px;
}
.settings.privacy ul {
    margin-left: 10px;
    }
/* privacy end */
