.item {margin:0 0 10px 0;}
.item span {margin-left:5px;color:#999;}
.signup label {display:inline-block;float:left;width:100px;line-height:19px;text-align:right;margin:0 10px 0 0;color:#333;}
.signup .text {float:left;display:inline-block;width:200px;}
.basic-input {width:200px;}
.captcha {width:95px;}
.signup_step {margin:0 0 20px 0;}
.information_box table td, .information_box table th {padding:5px 10px;}
.information_box table th {text-align:right;width:90px;}