<p><b>亲爱的<%= link_to @user.username, user_url(@user) %>：</b></p>
<p>
 您申请的用户认证已经被驳回，驳回理由:
 <%= @user.audit_log_comment %>
 <br />
 <%= link_to "重新认证", new_verify_path %>
</p>
<p><b>--爱红酒（ iWine.com）</b></p>
<p>(这是一封系统自动产生的email，请勿回复。)</p>