<div class="friends">
  <div id="main_t" class="clearfix">
    <h1>添加好友</h1>
    <div class="clear"></div>
  </div>

  <div class="box box_1 email_box">
    <h3>通过邮箱寻找好友</h3>
    <ul>
      <li>
        <%= link_to_icon "sina_mail_long", APP_DATA["friends"]["oauth"]["authorize_url"]["sina"] %>
      </li>
      <li>
        <%= link_to_icon "qq_mail_long", APP_DATA["friends"]["oauth"]["authorize_url"]["qq"] %>
      </li>
      <li>
        <%= link_to_icon "gmail_long", APP_DATA["friends"]["oauth"]["authorize_url"]["douban"] %>
      </li>
    </ul>

    <!-- .box end -->
  </div>
  <div class="clear"> </div>

   <%= render "mail_form" %>

<!-- friends end -->
</div>

