<ul class="userlist clearfix">
  <% @recommend_users.each do |user| %>
<li>
  <div class="userpic">
    <%= link_to_user user, 
		user_path(user.id,:trailing_slash => true), 
		{:with_avatar => true, :avatar_version => :large}, 
		{:width => 50, :height => 50} %>
  </div>
  <div class="userinfo">
    <p class="username">
      <%= link_to_user user, user_path(user,:trailing_slash => true) %> 
      <span class="location">上海</span>
    </p>
     <p class="statu">
      <%= link_to follow_user_path(user), :class => :btn_gray do %>
       <span>加关注</span>
      <% end %>
     </p>
  </div>
</li>
<% end %>
</ul>
