<%= render "mine/cellars/sub_nav"%>
<div class="winery_main">
	<div class="content">
		<div class="wine_add_step3 mb30">第二步：选择你想收藏的酒</div>
		<%= form_for @cellar_item, :url => mine_cellar_item_path(@cellar, @cellar_item),  :validate => true, :html => {:id => 'edit_users_wine_cellar_item'}  do |f| -%>
	      
			<%= render "form", :f => f %>
			
		<div class="clearfix">
			<%= link_to  mine_cellars_path, :class => "button_gray_b float_r"  do %>
			<span>取消</span>
			<% end %>
			<a href="#" class="button_gray_b float_r mr5 save"  title="OK，收藏到我的酒窖"><span>保存修改</span></a>
			<script type="text/javascript" charset="utf-8">
				$('a.save').click(function(){
				    $("form#edit_users_wine_cellar_item").submit();
				    return false;
				});
			</script>
		</div>	
      
		<% end -%>
				
			</div>
			<div class="clear"></div>
		</div>
		
