<div id="footer">
	<div class="link">
		<% foot_nav = { :about_us => '/about_us', 
						:contact_us => '/contact_us',
						# :help => '/help', 
						:private => '/private',
						:agreement => '/agreement',
                        :terms_and_conditions => '/terms_and_conditions',
						# :site_map => '/site_map',
						:feedback => '/feedback'} %>
		<%= raw foot_nav.collect { |k, v| link_to t("nav.#{k}"), v }.join(" | ") %>
	</div>
	<div class="copyright">Copyright &copy; <%= Time.now.year %> <%= link_to "iWine.com", root_path %>, Inc. All rights reserve.
	 <!-- <a href="#">沪ICP备12345678号</a> -->
	</div>
</div>
