<h3 class="title"> 添加值这支酒到我的酒窖</h3>
<%= form_for @cellar, :url => {:action => "#{@cellar}"}, :method => :post,  :validate => true do |f| -%>
<div class="star_rate" id="wine_profile_star_bar">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td>评价:</td>
      <td>
        <ul id="stars">

        </ul>
      </td>
      <td>

      </td>
    </tr>
  </table>
</div>
<div class="clear"> </div>
  <div class="text_area">
    <p class="label">简短评论: </p>
  </div>
  <div class="private">
  </div>
  <div class="share relative">
  </div>
<% end -%>

<script type="text/template" id="star_item">
  <%= image_tag 'base/star_gray.jpg', :width => 15, :height => 14 %>
 </script>

