		<div class="wp_space_line ptb30">
			<div class="title_btn clearfix">
				<a href="#" class="btn_gray float_r"><span>组织活动</span></a>
				<h2>相关活动<span class="font12 more"><a href="wine_comment_list.html">（共2个...）</a></span></h2>
			</div>
			<ul class="wp_event">
				<li>
					<div class="thumb"><a href="#"><img src="images/test/event50_1.jpg" width="50" height="50" alt="username" /></a></div>
					<div class="info">
						<p class="title"><a href="#">北京勃艮第品酒会</a></p>
						<p>时间: 2012-1-14<br />
							地点: 上海徐汇区美罗城5楼超极电影院<br />
							14人关注</p>
						</div>
					</li>
					<li>
						<div class="thumb"><a href="#"><img src="images/test/event50_2.jpg" width="50" height="50" alt="username" /></a></div>
						<div class="info">
							<p class="title"><a href="#">欧美红酒品鉴活动</a></p>
							<p>时间: 2012-3-21<br />
								地点: 北京国贸建外SOHO3号楼2504<br />
								5人关注</p>
							</div>
						</li>
						<div class="clear"></div>
					</ul>
				</div>