<span class="font_16 red"> 8.5 </span>分, 32人评价

<div class="score_star">
	<span class="star star_b_s45"></span>
	<span class="iw_score"><span class="redscore">8.5</span> 分，32人评价</span>
	<div class="clear"></div>
</div>
