					<div class="pro_score">
					<table width="250" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<th class="critic">评论家</th>
							<th class="score">得分</th>
							<th class="year">适饮年限</th>
						</tr>
						<tr>
							<td class="critic">Jancis Robinson</td>
							<td>18/20</td>
							<td>2014-2024</td>
						</tr>
						<tr>
							<td class="critic">Wine Spectator </td>
							<td>94/100</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td class="critic">iWine</td>
							<td>95/100</td>
							<td>&nbsp;</td>
						</tr>
					</table>
	</div>
