@charset "UTF-8";
#home {margin:30px 20px;}
.iw {width:228px;background-color:#fff;padding-top:15px;box-shadow: 0 1px 2px 1px #E0E0E0;margin-bottom:10px;margin-right:10px;float:left;border:1px solid #ccc;}
.iw_img {background-color:#f3f3f3;text-align:center;}
.iw_img, .iw_info, .iw_main {margin-right:14px;margin-left:14px;}
.iw_img, .iw_info {margin-bottom:10px;}
.iw_info h1 {font-size:14px;}
.iw_info h2 {font-size:12px;font-weight:normal;color:#999;}
p.iw_action {margin: 5px 0 10px 0;}
.iw_user {padding: 0 15px 10px 15px;}
.iw_main {border-top:1px dotted #ccc;padding:15px 0 10px 0;}
.iw_main ul li {padding-bottom:10px;}
.iw_main .left, .iw_user .left {width:30px;float:left;margin-right:10px;}
.iw_main .right, .iw_user .right {width:158px;float:left;}
.iw_main .content, .iw_user .content {color:#999;}
.iw_more {text-align:center;padding:15px 0 15px 0;border-top:1px solid #ccc;background-color:#f7f7f7;}
.iw_more a {color:#666;}
.iw_main ul.photo li {float:left;width:50px;margin:0 5px;line-height:normal;}
