@charset "UTF-8";
.searchbox input {width:495px;background-color:#fff;}
.winery_result {border:3px solid #e6d2d2;padding:15px;}
.winery_result a img {width:70px;float:left;margin-right:10px;}
.winery_result li {width:245px;float:left;margin-right:10px;}
.winery_result li.more {width:35px;margin-right:0;}
.winery_result .meta {width:145px;float:left;}