<div id="cu_user_menu" class="clearfix">
  <div class="pic">
    <a href="#">
      <%= image_tag current_user.avatar.image_url( :thumb ), :width => 50 , :height => 50 %>
    </a>
  </div>
  <div class="info_menu">
    <h1><%= current_user.username %> <img src="/assets/base/icon_user_l1.gif" width="13" height="12" alt="评论等级" />
      <div class="edit_signature"><span> 准备小宇宙爆发......（<a href="#">修改</a>）</span></div></h1>
    <ul class="clearfix">
      <li><a href="community_listen.html">收听</a></li>
      <li><a href="community_myhp.html">主页</a></li>
      <li><a href="cellar_mycellar.html">酒窖</a></li>
      <li><a href="community_statuses.html">广播</a></li>
      <li><a href="community_albmu_list.html">相册</a></li>
      <li><a href="community_setting.html">设置</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
