<div id="cu_user_menu" class="clearfix">
  <div class="pic"><a href="#"><img src="/assets/base/test/user_img50.jpg" alt="不良夏生" width="50" height="50" /></a></div>
  <div class="info_menu">
    <h1>不良夏生 <img src="/assets/base/icon_user_l1.gif" width="13" height="12" alt="评论等级" />
      <div class="edit_signature"><span> 准备小宇宙爆发......（<a href="#">修改</a>）</span></div></h1>
    <ul class="clearfix">
      <li><a href="community_listen.html">收听</a></li>
      <li><a href="community_myhp.html">主页</a></li>
      <li><a href="cellar_mycellar.html">酒窖</a></li>
      <li><a href="community_statuses.html">广播</a></li>
      <li><a href="community_albmu_list.html">相册</a></li>
      <li><a href="community_setting.html">设置</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<div class="title_btn clearfix">
  <a href="popup_add_album.html" class="fancybox fancybox.ajax button_gray float_r"><span>创建相册</span></a>
  <a href="community_photo_upload.html" class="button_gray float_r mr5"><span>添加照片</span></a>
  <h2>我的相册 <span class="count_b">(共5个)</span></h2>
</div>
<ul class="album_list clearfix">
  <li>
    <div class="pic"><a href="community_photo_list.html"><img src="/assets/base/test/album_cover1.jpg" alt="吃货那点事儿" width="190" height="190" /></a></div>
    <h3><a href="#">吃货那点事儿</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><a href="#"><img src="/assets/base/test/album_cover2.jpg" alt="旅行笔记" width="190" height="190" /></a></div>
    <h3><a href="#">旅行笔记</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><img src="/assets/base/test/album_cover3.jpg" alt="植物也欢乐" width="190" height="190" /></div>
    <h3><a href="#">植物也欢乐</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><a href="#"><img src="/assets/base/test/album_cover4.jpg" alt="小朋友们" width="190" height="190" /></a></div>
    <h3><a href="#">小朋友们</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><a href="#"><img src="/assets/base/test/album_cover5.jpg" alt="欲望清单" width="190" height="190" /></a></div>
    <h3><a href="#">欲望清单</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><a href="#"><img src="/assets/base/test/album_cover5.jpg" alt="欲望清单" width="190" height="190" /></a></div>
    <h3><a href="#">欲望清单</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><img src="/assets/base/test/album_cover5.jpg" alt="欲望清单" width="190" height="190" /></div>
    <h3><a href="#">欲望清单</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
  <li>
    <div class="pic"><img src="/assets/base/test/album_cover5.jpg" alt="欲望清单" width="190" height="190" /></div>
    <h3><a href="#">欲望清单</a></h3>
    <div class="album_info">3张照片 2012-1-28更新<br/>10浏览 | 5评论 | 2喜欢</div>
  </li>
</ul>
<div class="clear"></div>
<div class="pagination"><span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a></div>
