<div id="cu_user_menu" class="clearfix">
  <span class="f14">《 <a href="community_albmu_list.html">返回相册首页</a></span>
</div>
<div class="title_btn clearfix">
  <h2>上传照片</h2>
</div>
<div id="leftcol" class="mr50">
  <div class="photo_upload">
    <p class="mb10">选择相册 
      <select name="">
        <option>吃货那点事儿</option>
        <option>植物也欢乐</option>
        <option>小朋友们</option>
      </select> 
      <a href="popup_add_album.html" class="fancybox fancybox.ajax icon_add_album ml20">新建相册</a>
    </p>
    <p class="mb10"><a href="community_photo_upload3.html" class="button_gray"><span>选择照片</span></a></p>
    <p>提示：每次最多可以批量上传二十张照片，按着 “command” 键可以一次选择多张照片</p>
  </div>
</div>
<div id="rightcol">
  <p class="mb20">相册总容量1G</p>
</div>
<div class="clear"></div>