<div id="rightcol" class="other_content">
	<div class="roundedbox250">
		<div class="content align_c">
			<p class="mb10 f14">已经有Patrick账户了？</p>
			<p>
				<%= link_to "/login", :class => "button_green" do  %>
				<span>直接登陆</span>
				<% end %>

			</p>
		</div>
		<div>
			<%= image_tag "base/bg_rounded250_b.gif", :width => "250", :height => "5" %>
		</div>
	</div>
</div>
