<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
<link href="css/add.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main860">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="mainspace860" class="addwine">
    	<div class="addwine">
            <h1 class="main_title">添加藏酒</h1>
            <div class="step">
                <div class="step_sec"></div>
              </div>
              <div class="notice_b mb20">请填写 2005 PORTER MILL STATION Cabemet Sauvignon 的基本信息</div>
            <div id="stylized" class="myform">
            <form id="form" name="form" method="post" action="#">
                <div class="left">
                   <div class="required">
                   		<label><span>*</span>葡萄酒英文名</label>
                       <input name="text" type="text" class="text name" value="" />
                   </div>
                   <div class="required">
                       <label><span>*</span>类型</label>
                       <select name="">
                             <option>请选择类型</option>
                             <option>红葡萄酒</option>
                             <option>白葡萄酒</option>
                             <option>气泡酒</option>
                             <option>香槟</option>
                           </select>
                   </div>
                  <div class="required">
                       <label><span>*</span>产区</label>
                      <select name="">
                             <option>请选择一级产区</option>
                           </select>
                   </div>
                   <div class="required">
                       <label><span>*</span>年份</label>
                       <select name="">
                             <option>2012</option>
                           </select>
                       </div>
                   <div class="required">
                       <label><span>*</span>容量</label>
                       <div class="content">
                           <select name="">
                             <option>750ml</option>
                           </select>
                       </div>
                   </div>
                   <div class="optional">
                   		<label>照片</label>
                       <input name="text" type="text" class="text name mr5" value="" /><a href="#" class="btn_gray"><span>选择照片</span></a>
                   </div>
                    <div class="mt10">
                       <label>&nbsp;</label>
                       <div class="content"><a href="add_wine_new_detail_2.html" class="btn_gray mr5"><span>下一步</span></a><a href="add_wine_searchwine.html" class="btn_gray"><span>取消</span></a></div>
                    </div>
                   <div class="clear"></div>
               </div>
               <div class="clear"></div>
            </form>
        </div>
       </div>
    </div>
</body>
</html>
