<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
<link href="css/add.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main860">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="mainspace860" class="addwine">
    	<div class="addwine">
            <h1 class="main_title">添加藏酒</h1>
            <div class="step">
                <div class="step_fir"></div>
              </div>
              <div class="notice mb20">没有找到相关酒款，您愿意帮助我们添加么？</div>
              <div class=" align_c"><a href="add_wine_new_detail_1.html" class=" btn_gray_b mr5"><span>我来添加</span></a><a href="add_wine_searchwine.html" class=" btn_gray_b"><span>重新搜索</span></a></div>
       </div>
    </div>
</body>
</html>
