<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
<link href="css/add.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main860">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="mainspace860" class="addwine">
    	<div class="addwine">
            <h1 class="main_title">添加藏酒</h1>
            <div class="step">
                <div class="step_fir"></div>
              </div>
              <div class="search">
              	 <p class="notice_b mb20">请输入酒款名称以查询该酒款是否已经存在</p>
                  <input name="请输入酒款名称" type="text" class="text common_search mr5" placeholder="请输入酒款名称" /><a href="add_wine_searchyear.html" class="btn_gray"><span>搜索</span></a>
              </div>
       </div>
    </div>
</body>
</html>
