<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
<link href="css/add.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main860">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="mainspace860" class="addwine">
    	<div class="addwine">
            <h1 class="main_title">添加藏酒</h1>
            <div class="step">
                <div class="step_fir"></div>
              </div>
              <div class="search mb20">
              	 <p class="notice_b mb20">请输入酒款名称以查询该酒款是否已经存在</p>
                  <input name="请输入酒款名称" type="text" class="text common_search mr5" placeholder="请输入酒款名称" /><a href="cellar_wine_add_year.html" class="btn_gray"><span>搜索</span></a>
              </div>
              <div>
                  <div class="float_r"><span class="notice_b">这些都不是您要找的酒？</span><a href="add_wine_new_detail_1.html" class="btn_gray"><span>添加酒款</span></a></div>
                <p class="notice_b mb20">我们为您搜寻到以下酒款</p>
                  <div class="clear"></div>
              </div>
            <div class="box">
                <div class="box_t"></div>
                <div class="box_main">
                  <div class="wine_img"><a href="wine_profile.html"><img src="image/test/wine70.jpg" width="70" height="70" alt="wine name" /></a></div>
                    <div class="wine_info">
                        <h2><a href="wine_profile.html">2005 波特米勒站赤霞珠干红葡萄酒</a></h2>
                        <h3>2005 PORTER MILL STATION Cabernet Sauvignon</h3>
                        <p><strong>已有年份：</strong></p>
                        <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span><span><a href="#">1989</a></span><span><a href="#">1988</a></span></p>
                        <p class="mt10"><a href="add_wine_year_detail_1.html" class="btn_gray"><span>添加新年份</span></a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_b"></div>
            </div>
            <div class="box">
                <div class="box_t"></div>
                <div class="box_main">
                  <div class="wine_img"><a href="wine_profile.html"><img src="image/test/wine70_03.jpg" width="70" height="70" alt="wine name" /></a></div>
                    <div class="wine_info">
                        <h2><a href="wine_profile.html">2005 波特米勒站赤霞珠干红葡萄酒</a></h2>
                        <h3>2005 PORTER MILL STATION Cabernet Sauvignon</h3>
                        <p><strong>已有年份：</strong></p>
                        <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span><span><a href="#">1989</a></span><span><a href="#">1988</a></span></p>
                        <p class="mt10"><a href="add_wine_year_detail_1.html" class="btn_gray"><span>添加新年份</span></a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_b"></div>
            </div>
            <div class="box">
                <div class="box_t"></div>
                <div class="box_main">
                  <div class="wine_img"><a href="wine_profile.html"><img src="image/test/wine70_02.jpg" width="70" height="70" alt="wine name" /></a></div>
                    <div class="wine_info">
                        <h2><a href="wine_profile.html">2005 波特米勒站赤霞珠干红葡萄酒</a></h2>
                        <h3>2005 PORTER MILL STATION Cabernet Sauvignon</h3>
                        <p><strong>已有年份：</strong></p>
                        <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span><span><a href="#">1989</a></span><span><a href="#">1988</a></span></p>
                        <p class="mt10"><a href="add_wine_year_detail_1.html" class="btn_gray"><span>添加新年份</span></a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="box_b"></div>
            </div>
       </div>
    </div>
</body>
</html>
