<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/about.css" rel="stylesheet" type="text/css" />
<script src="javascripts/input.js" type="text/javascript"></script>
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" type="text" value="搜索酒款、酒庄" onclick="clearDefaultText(this,'搜索酒款、酒庄')"  />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
    	<div class="whitespace about">
          <h1 class="main_title">爱红酒（iWine）网站用户协议<span class="font12 ml20">版本日期：2012年5月28日星期一</span></h1>
          	<ol class="fir">
            	<li>
                	<h2>1. 总则</h2>
                    <ul>
                        <li>1.1. 爱红酒（iWine）网站及其相关的移动应用程序（一下简称“爱红酒”）的各项电子服务（以下简称“本站”）的所有权和运营权归本站的开发方：上海兕维信息科技有限公司（以下简称“开发方”）。本站将完全按照其发布的服务条款和操作规则严格执行。开发方有权根据需要不时地制定、修改本协议或各项条款，如本协议有任何变更，开发方将在网站上或其应用程序内刊载公告，通知用户。如用户不同意相关变更，必须停止使用本站服务。经修订的协议一经公布后，立即自动生效。各项条款发布后生效，亦成为本协议的一部分。登录或继续使用本站将表示用户接受经修订的协议。除另行明确声明外，任何使本站的服务范围扩大或功能增强的新内容均受本协议约束。</li>
                        <li>1.2. 用户必须完全同意所有服务条款并完成相关的注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的当然约定依据，除非违反国家强制性法律，否则始终有效。</li>
                        <li>1.3. 用户可以使用本站提供的各项服务。当用户使用各单项服务时，用户的使用行为视为其对本服务条款以及本站在该单项服务中发出的各类条款、规则、公告的同意。</li>
                        <li>1.4. 用户登录本站即代表同意接受来自本站的有关服务、订单等各项内容的电子邮件、海报或者其它法律允许的通讯联系手段。</li>
                        <li>1.5. 您在使用本站提供的各项服务之前，应仔细阅读本站协议。如您不同意本站协议及或随时对其的修改，您可以主动取消本站提供的服务；您一旦使用本站服务，即视为您已了解并完全同意本站协议各项内容，包括本站对服务协议随时所做的任何修改，并成为本站用户。</li>
                    </ul>
                </li>
                <li>
                	<h2>2. 服务简介</h2>
                    <ul>
                        <li>2.1. 本站为用户提供有关葡萄酒、酒庄、活动以及用户个人文字、图片内容的记录、发布、分享等服务。本服务仅依其当前所呈现的状况提供，对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其它任何问题，本站均不承担任何责任。本站保留不经事先通知为维修保养、升级或其它目的暂停本服务任何部分的权利。</li>
                        <li>2.2. 为使用本站之服务，用户必须：
                        	<ul class="level3">
                            	<li>2.2.1 自行配备上网的所需电子设备或终端，包括智能手机、移动平板设备、电脑、调制解调器、路由器等；</li>
                                <li>2.2.2 自行负担个人上网所支付的与此服务有关的费用，包括但不限于电话费用、数据费用、网络费用。</li>
                            </ul>
						</li>
                    </ul>
                </li>
                <li>
                	<h2>3. 遵守法律</h2>
                    <ul>
                        <li>3.1. 用户同意遵守中华人民共和国相关法律法规的所有规定，并对以任何方式使用您的密码和您的帐号使用本服务的任何行为及其结果承担全部责任。如您的行为违反国家法律和法规的任何规定，有可能构成犯罪的，将被追究刑事责任，并由您承担全部法律责任。</li>
                        <li>3.2. 同时如果本站有理由认为您的任何行为，包括但不限于您的任何言论和其它行为违反或可能违反国家法律和法规的任何规定，本站可在任何时候不经任何事先通知终止向您提供服务。</li>
                    </ul>
                </li>
                <li>
                	<h2>4. 注册义务</h2>
                    <ul>
                        <li>4.1. 基于本站所提供的网络服务的重要性，用户应同意：
                          <ul class="level3">
                            	<li>4.1.1 提供详尽、准确的个人资料。</li>
                                <li>4.1.2 不断更新注册资料，符合及时、详尽、准确的要求。</li>
                            </ul>
                        </li>
                        <li>4.2. 本站对用户的电子邮件、手机号等隐私资料进行保护，承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息出租或出售给任何第三方，但以下情况除外：
                      <ul class="level3 list">
                            	<li>事先获得用户的明确授权；</li>
                                <li>只有透露你的个人资料，才能提供你所要求的产品和服务；</li>
                                <li>根据有关的法律法规要求；</li>
                                <li>按照相关政府主管部门的要求；</li>
                                <li>为维护本站的合法权益。</li>
                                <li>本站发现用户违反了本站服务条款或本站其它使用规定。</li>
                            </ul>
                        </li>
                        <li>4.3 关于用户隐私的具体协议以本站的<a href="privacy.html">用户隐私条款</a>为准。</li>
                        <li>4.4 如果用户提供的资料包含有不正确的信息，本站保留结束用户使用网络服务资格的权利。</li>
                    </ul>
                </li>
                <li>
                	<h2>5. 用户账户、密码与安全</h2>
                    <ul>
                        <li>5.1. 完成本站服务的注册程序并成功注册之后，您可使用您的账号和密码，登陆到您在本站的帐号（下称“帐号”）。保护您的帐号安全，是您的责任。</li>
                        <li>5.2. 用户将对用户名和密码安全负全部责任。当您的帐号遭到未获授权的使用，或者发生其它任何安全问题时，您将立即通知本站。</li>
                        <li>5.3 每个用户都要对以其用户名进行的所有活动和事件负全责。用户若发现任何非法使用用户帐户或存在安全漏洞的情况，请立即通告本站。</li>
                        <li>5.4 每个用户都要对其帐号中的所有行为和事件负全责。如果您未保管好自己的帐号和密码而对您、本站或第三方造成的损害，您将负全部责任。</li>
                    </ul>
                </li>
                <li>
                	<h2>6. 内容提供者责任</h2>
                    <ul>
                        <li>6.1. 根据有关法律法规，本站在此郑重提请您注意，任何经由本服务而发布、上传的文字、资讯、资料、音乐、照片、图形、视讯、信息或其它资料（以下简称“内容 ”），无论系公开还是私下传送，均由内容提供者承担责任。本站仅为用户提供内容存储空间，无法控制经由本服务传送之内容，因此不保证内容的正确性、完整性或品质。您已预知使用本服务时，可能会接触到令人不快、不适当或令人厌恶之内容。在任何情况下，本站均不为任何内容负责，但本站有权依法停止传输任何前述内容并采取相应行动，包括但不限于暂停用户使用本服务的全部或部分，保存有关记录，并向有关机关报告。</li>
                    </ul>
                </li>
                <li>
                	<h2>7. 用户行为守则</h2>
                    <ul>
                        <li>7.1. 用户同意将不会利用本服务进行任何违法或不正当的活动，包括但不限于下列行为∶
                            <ul class="level3">
                            	<li>7.1.1 发布或以其它方式传送含有下列内容之一的信息：
                                	<ul>
                                    	<li>7.1.1.1 反对宪法所确定的基本原则的；</li>
                                        <li>7.1.1.2 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                                        <li>7.1.1.3 损害国家荣誉和利益的；</li>
                                        <li>7.1.1.4 煽动民族仇恨、民族歧视、破坏民族团结的；</li>
                                        <li>7.1.1.5 破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                                        <li>7.1.1.6 散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                                        <li>7.1.1.7 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                                        <li>7.1.1.8 侮辱或者诽谤他人，侵害他人合法权利的；</li>
                                        <li>7.1.1.9 含有虚假、诈骗、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</li>
                                        <li>7.1.1.10 含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的；</li>
                                        <li>7.1.1.11 含有本站认为不适合在本站展示的内容；</li>
                                    </ul>
                                </li>
                                <li>7.1.2 以任何方式危害他人的合法权益；</li>
                                <li>7.1.3 冒充其他任何人或机构，或以虚伪不实的方式陈述或谎称与任何人或机构有关；</li>
                                <li>7.1.4 将依据任何法律或合约或法定关系（例如由于雇佣关系和依据保密合约所得知或揭露之内部资料、专属及机密资料）知悉但无权传送之任何内容加以发布、发送电子邮件或以其它方式传送；</li>
                                <li>7.1.5 将侵害他人著作权、专利权、商标权、商业秘密、或其它专属权利（以下简称“专属权利”）之内容加以发布或以其它方式传送；</li>
                                <li>7.1.6 将任何广告信函、促销资料、“垃圾邮件”、““滥发信件”、“连锁信件”、“直销”或其它任何形式的劝诱资料加以发布、发送或以其它方式传送；</li>
                                <li>7.1.7 将设计目的在于干扰、破坏或限制任何计算机软件、硬件或通讯设备功能之计算机病毒（包括但不限于木马程序（trojan horses）、蠕虫（worms）、定时炸弹、删除蝇（cancelbots）（以下简称“病毒”）或其它计算机代码、档案和程序之任何资料，加以发布、发送或以其它方式传送；</li>
                                <li>7.1.8 干扰或破坏本服务或与本服务相连线之服务器和网络，或违反任何关于本服务连线网络之规定、程序、政策或规范；</li>
                                <li>7.1.9 跟踪、人肉搜索或以其它方式骚扰他人；</li>
                                <li>7.1.10 故意或非故意地违反任何适用的当地、国家法律，以及任何具有法律效力的规则；</li>
                                <li>7.1.11 未经合法授权而截获、篡改、收集、储存或删除他人个人信息、站内邮件或其它数据资料，或将获知的此类资料用于任何非法或不正当目的。</li>
                            </ul>
                        </li>
                        <li>7.2. 您已认可本站未对用户的使用行为进行全面控制，您使用任何内容时，包括依赖前述内容之正确性、完整性或实用性时，您同意将自行加以判断并承担所有风险，而不依赖于本站。但本站依其自行之考虑，拒绝和删除可经由本服务提供之违反本条款的或其它引起本站反感的任何内容。</li>
                        <li>7.3. 您了解并同意，本站可依据法律法规的要求，或基于诚信为了以下目的或在合理必要范围内，认定必须将内容加以保存或揭露时，得加以保存或揭露：
                        	<ul class="level3">
                            	<li>7.3.1 遵守法律程序；</li>
                                <li>7.3.2 执行本使用协议；</li>
                                <li>7.3.3 回应任何第三人提出的权利主张；</li>
                                <li>7.3.4 保护本站、其用户及公众之权利、财产或个人安全；</li>
                                <li>7.3.5 其它本站认为有必要的情况。</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                	<h2>8. 内容使用限制</h2>
                    <ul>
                    	<li>8.1 您同意不对本服务任何部分或本服务之使用或获得，进行复制、拷贝、出售、转售或用于任何其它商业目的。</li>
                        <li>8.2 您承认关于本服务的使用本站有权制订一般措施及限制，包含但不限于本服务将保留所发布内容或其它发布内容之最长期间，以及一定期间内您使用本服务之次数上限（及每次使用时间之上限）。通过本服务发布或传送之任何信息、通讯资料和其它内容，如被删除或未予储存，您同意本站毋须承担任何责任。您也同意，本站有权依其自行之考虑，不论通知与否，随时变更这些一般措施及限制。</li>
                    </ul>
                </li>
                <li>
                	<h2>9. 有限责任</h2>
                    <ul>
                    	<li>9.1 本站对任何直接、间接、偶然、特殊及继起的损害不负责任，这些损害可能但不限于来自：不正当使用网络服务，在网上购买商品或进行同类型服务，在网上进行交易，非法使用网络服务或用户传送的信息有所变动。这些行为都有可能会导致本站的形象受损，所以本站事先提出这种损害的可能性。</li>
                    </ul>
                </li>
                <li>
                	<h2>10. 反作弊条款</h2>
                    <ul>
                    	<li>10.1 对于本站开展的邀请奖励、注册送积点等活动，为惠及广大用户及保证活动的公平、公正性，同一个IP地址不得重复注册多个账号，同时用户亦不得通过自我邀请、相互邀请或利用他人手机或邮箱注册等不正当手段来获取返利或任何经济利益。</li>
                        <li>10.2 用户不得在本站以外的任何平台，以赢利或损害本站利益为目的交易积点券或返利凭证。</li>
                        <li>10.3 用户不得从事盗取其他用户信息、以黑客行为攻击本站服务器或基于恶意目的要求退款、发布不实信息诋毁本站的声誉等不正当行为。</li>
                        <li>10.4 用户违反前述10.1、10.2、10.3项任何规定的，一经查实，本站有权在不通知该用户的情况下直接采取一切措施维护自身权益，包括但不限于暂停或封闭其用户帐号、终止涉及违约的积点或范例凭证的有效性、向国家相关部门举报该用户的违法行为、通过诉讼途径追究该用户法律责任等。</li>
                    </ul>
                </li>
                <li>
                	<h2>11. 结束服务</h2>
                    <ul>
                    	<li>11.1 用户或本站可随时根据实际情况中断一项或多项网络服务。本站不需对任何个人或第三方负责而随时中断服务。用户对后来的条款修改有异议，或对本站的服务不满，可以行使如下权利：
                        	<ul class="level3">
                            	<li>11.1.1.1 停止使用本站的网络服务。</li>
                                <li>11.1.1.2 通告本站停止对该用户的服务。</li>
                            </ul>
                        </li>
                        <li>11.2 结束用户服务后，用户使用网络服务的权利马上中止。从那时起，用户有权利，本站也没有义务传送任何未处理的信息或未完成的服务给户或第三方。</li>
                    </ul>
                </li>
                <li>
                	<h2>12. 版权条款</h2>
                    <ul>
                    	<li>12.1 本站秉持开放平台与分享的原则，尊重知识产权，并呼吁用户也在尊重知识产权的前提下追求开放、自由的互联网平台服务。</li>
                        <li>12.2 用户应确保自身拥有使用本站各项服务所牵涉的任何图片或者其它版权产品的合适的使用权。除非特别说明，本站不对任何图片、影像或其它版权作品的版权负责。</li>
                    </ul>
                </li>
                <li>
                	<h2>13. 责任限制</h2>
                    <ul>
                    	<li>13.1 如因不可抗力或其他本站无法控制的原因使本站销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，本站不承担责任。但是本站会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。</li>
                        <li>13.2 除了本站的使用条件中规定的其它限制和除外情况之外，在中国法律法规所允许的限度内，对于因交易而引起的或与之有关的任何直接的、间接的、特殊的、附带的、后果性的或惩罚性的损害，或任何其它性质的损害，本站、本站运营管理公司的董事、管理人员、雇员、代理或其它代表在任何情况下都不承担责任。本站的全部责任，不论是合同、保证、侵权（包括过失）项下的还是其它的责任，均不超过您所购买的与该索赔有关的商品价值额。</li>
                    </ul>
                </li>
                <li>
                	<h2>14. 法律管辖与限制</h2>
                    <ul>
                    	<li>14.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。</li>
                        <li>14.2 如发生本站之服务条款与中国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。</li>
                        <li>14.3 本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。</li>
                        <li>14.4 如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本站开发或运营方所在地人民法院提起诉讼。</li>
                    </ul>
                </li>
          </ol>
   	  </div>
    </div>
    <div id="footer">
        <div class="link"><a href="aboutus.html">关于我们</a> | <a href="contactus.html">联系我们</a> | <a href="help.html">帮助中心</a> | <a href="privacy.html">隐私条款</a> | <a href="agreement.html">用户协议</a> | <a href="disclaimer.html">免责声明</a> | <a href="sitemap.html">网站地图</a> | <a href="feedback.html">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
