<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/hp.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" name="" type="text" placeholder="搜索酒款、酒庄" />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
    <div class="whitespace">
    <div id="hp">
          <div class="hp_header">
            <div class="hp_right"><a href="cellar.html" class="btn_red_sb"><span>我的酒窖</span></a></div>
            <div class="hp_userimg"><a href="#"><img src="images/userimage/p130.jpg" width="130" height="130" alt="usrename" /></a></div>
            <div class="hp_info">
                <div class="username">不良夏生</div>
                <div class="mystatu">准备小宇宙爆发...<span><a href="#">修改</a></span></div>
                <div class="item"><a class="icon_mail" href="#">私信</a> | <a href="#">设置</a></div>
                <ul class="hp_navi">
                    <li><a href="cellar.html">12<br/>藏酒</a></li>
                    <li><a href="hp_wine_following.html">12<br/>
                    关注的酒</a></li>
                    <li><a href="hp_winery_following.html">12<br/>
                    关注的酒庄</a></li>
                    <li><a href="hp_comment_list.html">12<br/>评论</a></li>
                    <li><a href="hp_testing_list.html">12<br/>品酒辞</a></li>
                    <li><a href="hp_people_following.html">12<br/>关注的人</a></li>
                    <li><a href="hp_people_follower.html">12<br/>粉丝</a></li>
                    <li class="current"><a href="album.html">12<br/>相册</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
            <div class="title_btn">
                <a href="album.html" class="btn_gray float_r"><span>返回相册首页</span></a>
                <h1>编辑相册属性 </h1>
                <div class="clear"></div>
            </div>
          <div>
            <form>
                <table class="form" width="" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <th>相册名称</th>
                        <td><label>
                          <input class="text name" type="text" name="textfield" id="textfield" />
                        </label></td>
                      </tr>
                      <tr>
                        <th valign="top">相册描述</th>
                        <td><label>
                          <textarea style="width:250px;" name="textarea" id="textarea" cols="45" rows="5"></textarea>
                        </label></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><a href="album_photo_list.html" class="btn_gray mr5"><span>保存修改</span></a><a href="album_photo_list.html" class="btn_gray"><span>取消</span></a></td>
                        </tr>
                    </table>
              </form>	
      </div>
    </div>
      </div>
    </div>
    <div id="footer">
        <div class="link"><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">帮助中心</a> | <a href="#">隐私条款</a> | <a href="#">用户协议</a> | <a href="#">网站地图</a> | <a href="#">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
