<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="span950">
    <div id="hp">
          <div class="hp_header">
            <div class="hp_right"><a href="#" class="btn_red_sb"><span>我的酒窖</span></a></div>
            <div class="hp_userimg"><a href="#"><img src="image/userimage/p130.jpg" width="130" height="130" alt="usrename" /></a></div>
            <div class="hp_info">
                <div class="username">不良夏生</div>
                <div class="mystatu">准备小宇宙爆发...<span><a href="#">修改</a></span></div>
                <div class="item"><a class="icon_mail" href="#">私信</a> | <a href="#">设置</a></div>
                <ul class="hp_navi">
                    <li><a href="cellar.html">12<br/>藏酒</a></li>
                    <li><a href="hp_wine_following.html">12<br/>
                    关注的酒</a></li>
                    <li><a href="hp_winery_following.html">12<br/>
                    关注的酒庄</a></li>
                    <li><a href="hp_comment_list.html">12<br/>评论</a></li>
                    <li><a href="hp_testing_list.html">12<br/>品酒辞</a></li>
                    <li><a href="hp_people_following.html">12<br/>关注的人</a></li>
                    <li><a href="hp_people_follower.html">12<br/>粉丝</a></li>
                    <li class="current"><a href="album.html">12<br/>相册</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
      <div class="content">
   	  <div class="album_left">
        	<div class="title_btn">
              <h1>吃货那点事儿 <span class="font12">(共10张)</span></h1>
            </div>
            <div class="mb20">
            	<div class="btn_action"><a href="album_photo_list.html" class="btn_gray"><span>返回该相册</span></a></div>
                <div class="pre_next"><a href="#" class="btn_gray mr5"><span>前一张</span></a><a href="#" class="btn_gray"><span>后一张</span></a></div>
            </div>
            <div class="photo">
                <img src="image/test/pic600_1.jpg" width="600" height="404" alt="photo" />
                <p class="name">鲔鱼莎拉</p>
                <p class="intro">中午在COCO吃了咖喱，色拉不错</p>
            </div>
              <div class="info">
            	<div class="like float_r"><a href="#" class="icon_like">赞 (3)</a></div>
                <div class="share float_r">分享到：<a href=" #"><img src="image/icon/sina_s_on.png" alt="新浪" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="image/icon/tencen_s_on.png" alt="腾讯" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="image/icon/douban_s_on.png" alt="豆瓣" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="image/icon/kaixin_s_on.png" alt="开心网" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="image/icon/renren_s_on.png" alt="人人网" width="17" height="17" align="absmiddle" /></a> |</div>
                <div>10浏览 | 4评论</div>
            </div>
            <div class="comment">
       	  <div class="mb20 clearfix">
                	<a href="#01" class="btn_gray float_r"><span>添加评论</span></a>
                <div class="title">评论</div>
                </div>
  <ul class="comment_list">
                	<li>
                    	<div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                      <div class="clear"></div>
                    </li>
                   <li>
                    	<div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span><span class="control"><a href="#">回复</a> | <a href="#">删除</a></span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">
                            <p class="reply">好诱人的咖喱啊，我也好想吃！</p>
                            好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <a name="01" id="01"></a>
                <div class="comment_post">
           	    <div class="userpic"><a href="#"><img src="image/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                    <div class="post_main">
                    	<div class="reply_text">回复 xiaoying </div>
                        <div class="post">
                        	<textarea class="mb10" name="" cols="" rows=""></textarea>
                            <div><a href="#" class="btn_gray"><span>加上去</span></a></div>
                        </div>
                    </div>
                     <div class="clear"></div>
                </div>
        </div>
        </div>
        <div class="album_right pt60 pl30">
       	  <h2>我的其他相册</h2>
            <ul class="side_album_list">
            	<li> <a href="album_photo_list.html"><img class="cover_s" src="image/test/pic100_1.jpg" width="100" height="100" alt="album" /></a>
                    <h3><a href="album_photo_list.html">吃货那点事儿</a></h3>
                  <p class="info">2012-1-28更新</p>
                </li>
                <li> <a href="album_photo_list.html"><img class="cover_s" src="image/test/pic100_1.jpg" width="100" height="100" alt="album" /></a>
                    <h3><a href="album_photo_list.html">吃货那点事儿</a></h3>
                  <p class="info">2012-1-28更新</p>
                </li>
                <li> <a href="album_photo_list.html"><img class="cover_s" src="image/test/pic100_1.jpg" width="100" height="100" alt="album" /></a>
                    <h3><a href="album_photo_list.html">吃货那点事儿</a></h3>
                  <p class="info">2012-1-28更新</p>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    </div>
    <div id="footer">footer text</div>
</body>
</html>
