<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="css/hp.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="image/common/logo.png" alt="iWine" /></div>
            <div id="top_search"><input class="search" name="" type="text" /><button type="submit" class="search_submit"><span><img src="image/icon/search_white.png" width="13" height="13" alt="搜索" /></span></button></div>
            <div id="top_right">
            	<ul>
                	<li class="userbox">user</li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="span950">
    <div id="hp">
          <div class="hp_header">
            <div class="hp_right"><a href="cellar.html" class="btn_red_sb"><span>我的酒窖</span></a></div>
            <div class="hp_userimg"><a href="#"><img src="image/userimage/p130.jpg" width="130" height="130" alt="usrename" /></a></div>
            <div class="hp_info">
                <div class="username">不良夏生</div>
                <div class="mystatu">准备小宇宙爆发...<span><a href="#">修改</a></span></div>
                <div class="item"><a class="icon_mail" href="#">私信</a> | <a href="#">设置</a></div>
                <ul class="hp_navi">
                    <li><a href="cellar.html">12<br/>藏酒</a></li>
                    <li><a href="hp_wine_following.html">12<br/>
                    关注的酒</a></li>
                    <li><a href="hp_winery_following.html">12<br/>
                    关注的酒庄</a></li>
                    <li><a href="hp_comment_list.html">12<br/>评论</a></li>
                    <li><a href="hp_testing_list.html">12<br/>品酒辞</a></li>
                    <li><a href="hp_people_following.html">12<br/>关注的人</a></li>
                    <li><a href="hp_people_follower.html">12<br/>粉丝</a></li>
                    <li class="current"><a href="album.html">12<br/>相册</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
      <div class="title_btn">
<h1>上传照片</h1>
            <div class="clear"></div>
      </div>
      <ul class="photo_list">
       	<li class="photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a><label><input class="radio" name="社会封面" type="radio" checked="checked" /> 设为封面</label></p>
        </li>
        <li class="photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a>
            <label><input class="radio" name="社会封面" type="radio" /> 设为封面</label></p>
        </li>
        <li class="photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a>
            <label><input class="radio" name="社会封面" type="radio" /> 设为封面</label></p>
        </li>
        <li class="last photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a>
            <label><input class="radio" name="社会封面" type="radio" /> 设为封面</label></p>
        </li>
        <li class="photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a>
            <label><input class="radio" name="社会封面" type="radio" /> 设为封面</label></p>
        </li>
        <li class="photo_des"> <img class="cover" src="image/test/pic190_1.jpg" width="191" height="128" alt="cover" />
          <p>标题</p>
          <p><input class="text photo_name" name="" type="text" /></p>
          <p>描述</p>
          <p><textarea class="photo_des" name="" cols="" rows=""></textarea></p>
          <p><a href="#" class="icon_delet float_r">删除</a>
            <label><input class="radio" name="社会封面" type="radio" /> 设为封面</label></p>
        </li>
      </ul>
      <div class="align_c"><a href="album_photo_list.html" class="btn_gray"><span>保存</span></a></div>
      </div>
    </div>
    <div id="footer">footer text</div>
</body>
</html>
