<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/setting.css" rel="stylesheet" type="text/css" />
<script src="javascripts/input.js" type="text/javascript"></script>
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" type="text" value="搜索酒款、酒庄" onclick="clearDefaultText(this,'搜索酒款、酒庄')"  />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
    	<div class="whitespace friends">
            <h1 class="main_title">添加好友</h1>
          <div class="gray_box">
            	<h3>通过社交平台来寻找好友</h3>
                <p class="snsSearch">
                	<a href="friends_sns_bound.html"><img src="images/common/icon_sina_on.png" width="44" height="44" align="absmiddle" /></a>
                    <a href="#"><img src="images/common/icon_qq_on.png" width="44" height="44" align="absmiddle" /></a>
                    <a href="#"><img src="images/common/icon_douban_on.png" width="44" height="44" align="absmiddle" /></a>
                    <a href="#"><img src="images/common/icon_kaixin_on.png" width="44" height="44" align="absmiddle" /></a>
                    <a href="friends_sns_unbound.html"><img src="images/common/icon_renren_off.png" width="44" height="44" align="absmiddle" /></a>
                </p>
                <p><a href="friends_sns_bound.html" class="btn_gray mr5"><span>搜索全部同步项</span></a><a href="#" class="btn_gray"><span>更改同步设置</span></a></p>
          </div>
          <div class="gray_box">
           	<h3>通过邮箱来寻找好友</h3>
              <ul class="mailSearch">
               	  <li>
                      <p><img src="images/common/qqmail.gif" width="140" height="46" alt="QQ Mail" /></p>
                      <a href="#" class="btn_gray"><span>搜寻好友</span></a>
                  </li>
                  <li>
                      <p><img src="images/common/hotmail.gif" width="141" height="46" alt="QQ Mail" /></p>
                      <a href="#" class="btn_gray"><span>搜寻好友</span></a>
                  </li>
                  <li>
                      <p><img src="images/common/gmail.gif" width="101" height="46" alt="QQ Mail" /></p>
                      <a href="#" class="btn_gray"><span>搜寻好友</span></a>
                  </li>
                  <li>
                      <p><img src="images/common/sinamail.gif" width="114" height="46" alt="QQ Mail" /></p>
                      <a href="#" class="btn_gray"><span>搜寻好友</span></a>
                  </li>
                  <li>
                      <p><img src="images/common/netease.gif" width="137" height="46" alt="QQ Mail" /></p>
                      <a href="#" class="btn_gray"><span>搜寻好友</span></a>
                  </li>
                  <div class="clear"></div>
              </ul>
            </div>
            <div class="gray_box invite">
            	<h3>通过邮件邀请朋友加入</h3>
              <form>
                  <p><textarea class="text" name="" cols="" rows="" value="请输入邮箱地址" onclick="clearDefaultText(this,'请输入邮箱地址')"></textarea>
                    <textarea class="text" name="" cols="" rows="" value="请输入邀请留言" onclick="clearDefaultText(this,'请输入邀请留言')"></textarea>
                  <input class="text" name="" type="text" value="输入你的名字" onclick="clearDefaultText(this,'请输入你的名字')"/></p>
                  <p><a href="#" class="btn_gray"><span>发送邀请</span></a></p>
                  <div class="notice">一次填写多个Email地址请用回车换行分隔，最多支持20个邮箱</div>
              </form>
        </div>
   	  </div>
    </div>
    <div id="footer">
        <div class="link"><a href="aboutus.html">关于我们</a> | <a href="contactus.html">联系我们</a> | <a href="help.html">帮助中心</a> | <a href="privacy.html">隐私条款</a> | <a href="agreement.html">用户协议</a> | <a href="disclaimer.html">免责声明</a> | <a href="sitemap.html">网站地图</a> | <a href="feedback.html">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
