<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" name="" type="text" placeholder="搜索酒款、酒庄" />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
    	<div id="login">
        	<div class="error">啊哦，邮件地址或密码错误！</div>
            <div class="login">
                <div class="boxstyle">
                    <div class="top">欢迎登陆iWine!</div>
                    <div class="mid">
                      <div class="un"><input class="text" name="" type="text" placeholder="邮件地址" /></div>
                      <div class="pw"><input class="text"  name="" type="password" placeholder="密码" /></div>
                        <div class="rember_pw">
                            <a href="index.html"><img class="float_r" src="images/common/btn_login.jpg" width="96" height="41" alt="登陆" /></a>
                        <label><input class="checkbox" name="" type="checkbox" value="" /> 记住我</label> 
                            | <a href="password_forget.html">忘记密码了？</a>
                            <div class="clear"></div>
                        </div>
                  </div>
                    <div class="bot"></div>
                </div>
            </div>
            <div class="register">
                <div class="boxstyle">
                    <div class="top">还没有iWine帐号？</div>
                    <div class="mid align_c"> <a href="register.html"><img src="images/common/btn_register.jpg" width="176" height="51" alt="马上注册" /></a></div>
                    <div class="bot"></div>
              </div>
          </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
