<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="mainspace860">
    	<div id="message">
            <div class="title clearfix">
                <div class="message_search"><div class="search_space"><input name="" type="text" placeholder="查找联系人或私信内容"/><a href="#" class="search_btn"></a></div><a class="btn_gray mr5" href="#"><span>发送私信</span></a></div>
                <h1>我的私信</h1>
            </div>
            <div class="message_list">
            	<ul class="private_list">
                	<li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/001.jpg" width="48" height="48" /></a></div>
                        <div class="content clearfix">
                        	<p><a href="#">萝卜头比特</a>：你要开趴体啊？</p>
                            <p class="info"><span><a href="message_detail.html">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">12分钟前</i></p>
                        </div>
                	</li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p><a href="#">不良夏生</a>：8是啦，是真心了解行情啊</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/04.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">Melody</a> ：这支酒在哪里买的啊？</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/05.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">菠菜</a> ：你那么想要，那我送给你吧。</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/06.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">菠菜</a> ：你那么想要，那我送给你吧。</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/07.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p><a href="#">白小小</a> ：你那么想要，那我送给你吧。</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p><a href="#">不良夏生</a>：8是啦，是真心了解行情啊</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/04.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">Melody</a> ：这支酒在哪里买的啊？</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/05.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">菠菜</a> ：你那么想要，那我送给你吧。</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                    <li class="clearfix">
                    	<div class="userimg"><a href="#"><img src="images/userimage/06.jpg" width="50" height="50" /></a></div>
                        <div class="content clearfix">
                        	<p>发给 <a href="#">菠菜</a> ：你那么想要，那我送给你吧。</p>
                          <p class="info"><span><a href="#">共3条私信 </a><i class="W_vline">|</i><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
