<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="mainspace860">
    	<div id="message">
        	<div class="title clearfix">
              <div class="message_search"><div class="search_space"><input class="text" name="" type="text" placeholder="查找联系人或私信内容"/><a href="#" class="search_btn"></a></div><a class="btn_gray mr5" href="#"><span>发送私信</span></a></div>
              <h1>我的私信</h1>
            </div>
            <div class="path"><a href="message_list.html">返回私信列表</a> 》当前共4条私信</div>
            <div class="send_private_msg clearfix">
            	<div class="title">发私信给白小小</div>
                <div class="userimg"><a href="#"><img src="image/userimage/001.jpg" width="48" height="48" /></a></div>
                <div class="content">
                    <textarea name="" cols="" rows=""></textarea>
                  <div class="btn"><a href="#" class="btn_gray"><span>发送</span></a></div>
                </div>
                <div class="clear"></div>
            </div>
          <div class="message_talk">
          	<dl class="talk_l clearfix">
            	<dt class="userimg"><a href="#"><img src="image/userimage/06.jpg" width="50" height="50" /></a></dt>
                <dd class="content">
                	<p><a href="#">Melody</a>：是别人从国外带回来送我的^^</p>
                    <p class="info"><span><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">12分钟前</i></p>
                </dd>
                <div class="clear"></div>
            </dl>
            <dl class="talk_r clearfix">
       	    <dt class="userimg"><a href="#"><img src="image/userimage/001.jpg" width="48" height="48" /></a></dt>
                <dd class="content">
                	<p><a href="#">白小小</a>：国内哪里能买到么？</p>
                    <p class="info"><span><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">35分钟前</i></p>
                </dd>
                <div class="clear"></div>
            </dl>
            <dl class="talk_l clearfix">
            	<dt class="userimg"><a href="#"><img src="image/userimage/06.jpg" width="50" height="50" /></a></dt>
                <dd class="content">
                	<p><a href="#">Melody</a>：是的，配牛排超赞！</p>
                    <p class="info"><span><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">1小时前</i></p>
                </dd>
                 <div class="clear"></div>
            </dl>
            <dl class="talk_r clearfix">
       	    <dt class="userimg"><a href="#"><img src="image/userimage/001.jpg" width="48" height="48" /></a></dt>
                <dd class="content">
                	<p><a href="#">白小小</a>：哇，好酒一支啊！</p>
                    <p class="info"><span><a action-data="userName=aluoaluo" action-type="replyMessage" href="javascript:void(0);" suda-data="key=message_messagelist_reply_page&value=message_messagelist_reply_page"> 回复</a></span><i class="date">2小时前</i></p>
                </dd>
                 <div class="clear"></div>
            </dl>
          </div>
        </div>
    </div>
</body>
</html>
