<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/hp.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" name="" type="text" placeholder="搜索酒款、酒庄" />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
    	<div class="whitespace"> 
         <div id="hp">
          <div class="hp_header">
            <div class="hp_right"><a href="cellar.html" class="btn_red_sb"><span>我的酒窖</span></a></div>
            <div class="hp_userimg"><a href="myhp.html"><img src="images/userimage/p130.jpg" width="130" height="130" alt="usrename" /></a></div>
            <div class="hp_info">
                <div class="username">不良夏生</div>
                <div class="mystatu">准备小宇宙爆发...<span><a href="#">修改</a></span></div>
                <div class="item"><a class="icon_mail" href="#">私信</a> | <a href="#">设置</a></div>
                <ul class="hp_navi">
                    <li><a href="cellar.html">12<br/>藏酒</a></li>
                    <li class="current"><a href="myhp_wine_list.html">12<br/>
                    关注的酒</a></li>
                    <li><a href="myhp_winery_list.html">12<br/>
                    关注的酒庄</a></li>
                    <li><a href="myhp_comment_list.html">12<br/>评论</a></li>
                    <li><a href="#">12<br/>品酒辞</a></li>
                    <li><a href="myhp_following_list.html">12<br/>关注的人</a></li>
                    <li><a href="myhp_follower_list.html">12<br/>粉丝</a></li>
                    <li><a href="album.html">12<br/>相册</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <div class="content">
          	<div class="left">
            	<div class="title_btn">
                  <h1>关注的酒 <span class="font12 more">(共21支...)</span></h1>
                </div>
                <ul class="wine_list">
                        	<li class="clearfix">
                            	<a href="wine_profile.html"><img src="images/test/wine100_04.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                               	  <h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="wine_profile.html">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_02.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                              <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_03.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_05.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_06.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_04.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                </div>
                                <div class="clear"></div>
                          </li>
                            <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_02.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                              <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_03.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_05.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_06.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001 波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                            <div class="clear"></div>
                          </li>
                        </ul>
                        <div class="pagination">
                            <span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a><br />
                        </div>
            </div>
            <div class="right">
            	<div class="sidebox">
                	<div class="title"><h3>热门酒款</h3></div>
                    <div class="main">
                    	<ul class="sidewine">
                        	<li>
                            	<a href="#"><img src="images/test/wine70_02.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2001 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70_03.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001拉菲珍宝</a></h3>
                                    <h3 class="en"><a href="#">2001 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">1995波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">1995 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70_02.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2004波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2004 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                            </li>
                          <li class="last">
                            	<a href="#"><img src="images/test/wine70.jpg" width="70" height="70" alt="wine name" /></a>
                              <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2003波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2003 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                            </div>
                          </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
          </div>
      </div>
      </div>
    </div>
    <div id="footer">
        <div class="link"><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">帮助中心</a> | <a href="#">隐私条款</a> | <a href="#">用户协议</a> | <a href="#">网站地图</a> | <a href="#">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
