<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/wine.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/thumb.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" name="" type="text" placeholder="搜索酒款、酒庄" />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
</div>
    <div id="wrapper950">
        <div id="wp_left">
        	<div class="wp_space_line top">
            	<a href="wine_profile.html" class="btn_gray float_r"><span>返回</span></a><a href="wine_profile.html" class="btn_gray float_r mr5"><span>上传照片</span></a>
                <h1 class="wine_name_ch">2005 波特米勒站赤霞珠干红葡萄酒的照片</h1>
                <div class="clear"></div>
            </div>
                <div class="wp_space_line ptb30">
                <div class="album_left">
            <div class="mb20">
                <div class="pre_next"><a href="#" class="btn_gray mr5"><span>前一张</span></a><a href="#" class="btn_gray"><span>后一张</span></a></div>
            </div>
            <div class="photo">
                <img src="images/test/wine440.jpg" width="440" height="440" alt="photo" />
            </div>
              <div class="info">
            	<div class="like float_r"><a href="#" class="icon_like">赞 (3)</a></div>
                <div class="share float_r">分享到：<a href=" #"><img src="images/icon/sina_s_on.png" alt="新浪" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/tencen_s_on.png" alt="腾讯" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/douban_s_on.png" alt="豆瓣" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/kaixin_s_on.png" alt="开心网" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/renren_s_on.png" alt="人人网" width="17" height="17" align="absmiddle" /></a> |</div>
                <div>10浏览 | 4评论</div>
            </div>
            <div class="comment">
       	    <div class="mb20 clearfix">
                <div class="title">
                <a href="#01" class="btn_gray float_r"><span>添加评论</span></a>
                <h3>评论</h3>
                </div>
              </div>
               <ul class="comment_list">
                	<li>
                    	<div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                    </li>
                   <li>
                    	<div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                            <p><a href="#">回复</a> | <a href="#">删除</a></p>
                        </div>
                 </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">
                            好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                    </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                    </li>
                    <li>
                    	<div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                        <div class="main">
                        	<div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                            <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                        </div>
                    </li>
                    <div class="clear"></div>
              </ul>
                <a name="01" id="01"></a>
                <div class="comment_post">
           	    <div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                    <div class="post_main">
                      <div class="post">
                       	  <textarea class="mb10" name="" cols="" rows=""></textarea>
                            <div><a href="#" class="btn_gray"><span>加上去</span></a></div>
                      </div>
                  </div>
                     <div class="clear"></div>
                </div>
                </div>
                </div>
            </div>
          </div>
        <div id="wp_right">
          <div class="wp_count clearfix">
          <a href="wine_follower_list.html">1234<br/>关注</a><a href="wine_owner_list.html">1234<br/>拥有</a><a href="wine_comment_list.html">1234<br/>评论</a><a href="wine_testnotes_list.html">1234<br/>品酒辞</a><a href="wine_photo_list.html">1234<br/>照片</a>
           <div class="clear"></div>
          </div>
            <div class="wine_id_pic"><img src="images/test/wine_id_pic.jpg" width="100" height="100" alt="winename" /></div>
            <div class="info">
                酒庄：<a href="#">DRC官方</a><br />
                官网：<a href="#">http://www.romanee-conti.fr/</a><br />
                产区：法国>勃艮第>夜丘>维森-罗曼尼>罗曼尼-康帝（特级田）<br />
                France>Burgundy>Côte de Nuits>Vosne-Romanée>Romanée-Conti (Grand Cru AOC)<br />
                类型：红葡萄酒<br />
                容量：750ml<br />
                酒精度：13％Vol<br />
                葡萄品种：Pinot Noir(25%)、 Pinot Noir (75%) 
          </div>
              <div class="score_star">
                  	<span class="star star_b_s45"></span>
                    <span class="iw_score"><span class="redscore">8.5</span> 分，32人评价</span>
                <div class="clear"></div>
              </div>
              <div class="pro_score">
              	<table width="250" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th class="critic">评论家</th>
                    <th class="score">得分</th>
                    <th class="year">适饮年限</th>
                  </tr>
                  <tr>
                    <td class="critic">Jancis Robinson</td>
                    <td>18/20</td>
                    <td>2014-2024</td>
                  </tr>
                  <tr>
                    <td class="critic">Wine Spectator </td>
                    <td>94/100</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="critic">iWine</td>
                    <td>95/100</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
              <div class="wp_price">
           	  价格：<span class="price_b">￥2580</span> 起 <a href="#">(更多价格信息+)</a>
              </div>
          <div class="wp_price">
            <p>更多年份</p>
                    <p class="year"><span><a href="wine_profile.html">2010</a></span><span><a href="wine_profile.html">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span></p>
                <p class="mt10"><a href="#"><img src="images/icon/open.gif" width="13" height="13" alt="查看所有年份" /></a></p>
            </div>
            <div class=""><a href="#" class="btn_gray"><span>信息纠错与补充</span></a></div>
           </div>
        <div class="clear"></div>   
    </div>
    </div>
    <div id="footer">
        <div class="link"><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">帮助中心</a> | <a href="#">隐私条款</a> | <a href="#">用户协议</a> | <a href="#">网站地图</a> | <a href="#">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
