<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>iWine</title>
<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
<link href="stylesheets/winery.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
    <div class="main950">
        	<div id="logo"><img src="images/common/logo.gif" alt="iWine" width="299" height="43" /></div>
            <form action="search.html">
                <div id="top_search">
                    <input class="search_btn" name="" type="image" src="images/icon/search.gif"/>
                    <input class="search" name="" type="text" placeholder="搜索酒款、酒庄" />
                </div>
            </form>
            <div id="top_right">
            	<ul>
                	<li class="userbox">
                    	<a class="userpic" href="#"><img src="images/userimage/06.jpg" width="20" height="20" /></a><a href="#"><img src="images/common/userbox_arrow.jpg" width="22" height="30" /></a>
                    </li>
                    <li class="top_add"><a href="#" class="btn_add">添加</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="globel_navi">
    	<ul>
        	<li class="current"><a href="index.html">首页</a></li>
            <li class="arrow"><a href="wine.html">酒款</a></li>
            <li class="last arrow"><a href="winery.html">酒庄</a></li>
            <div class="clear"></div>
      </ul>
    </div>
    <div id="wrapper950">
      <div class="whitespace mb30">
            <div class="winery_header">
                <div class="cover"><img src="images/test/winery_cover.jpg" width="360" height="320" alt="winery name" /></div>
                <div class="info">
                	<div class="float_r"><span class="icon_sina_off mr5">新浪微博</span><a href="#"><span class="icon_tt mr5">twitter</span></a><a href="#"><span class="icon_fb">fackbook</span></a></div>
                    <div class="logo"><img src="images/test/winery_logo2.jpg" width="50" height="50" alt="winery name" /></div>
                    <h1 class="winery_name_ch">奥比安酒庄</h1>
                    <h1 class="winery_name_en">Chateau Haut-Brion</h1>
                    <div class="baseinfo">
                    地区：法国>勃艮第 (France>Burgundy)<br />
                    地址：Screaming Eagle PO Box 12 Oakville, CA 94562<br />
                    官方网站：<a href="#">http://www.romanee-conti.fr/</a><br />
                    电子邮件：<a href="#">bernardo@gmail.com</a><br />
                    电话：(707) 944-074<br />
                    传真：(707) 944-9271
                    </div>
                    <div class="mt20">
                    	<ul class="count">
                        	<li class="follow">
                            	<a href="winery_follower_list.html">120个关注</a>
                          </li>
                            <li class="comment">
                            	<a href="winery_comment_list.html">45条评论</a>
                            </li>
                        </ul>
                        <a href="#" class="btn_gray_b mr5"><span>关注</span></a><a href="#" class="btn_gray_b mr5"><span>评论</span></a>
                    </div>
                </div>
                <div class="right">
                    <div class="score_star mb20">
                        <span class="star star_b_s45"></span>
                        <span class="iw_score"><span class="redscore">8.5</span> 分，32人评价</span>
                        <div class="clear"></div>
                    </div>
                    <ul class="item">
                    	<li>
                            <p class="pic"><a href="#01"><img src="images/icon/winery_photo.gif" width="34" height="26" /></a></p>
                            <p><a href="#01">照片</a></p>
                        </li>
                        <li>
                            <p class="pic"><a href="#02"><img src="images/icon/winery_intro.gif" width="26" height="30" /></a></p>
                            <p><a href="#02">介绍</a></p>
                        </li>
                        <li class="last">
                            <p class="pic"><a href="#05"><img src="images/icon/winery_hot.gif" width="32" height="32" /></a></p>
                            <p><a href="#05">热门酒款</a></p>
                        </li>
                        <li>
                            <p class="pic"><a href="#03"><img src="images/icon/winery_wine.gif" width="24" height="37" /></a></p>
                            <p><a href="#03">所有酒款</a></p>
                        </li>
                        <li>
                            <p class="pic"><a href="#04"><img src="images/icon/winery_comment.gif" width="34" height="31" /></a></p>
                            <p><a href="#04">评论</a></p>
                        </li>
                      <li class="last">
                          <p class="pic"><a href="#06"><img src="images/icon/winery_follower.gif" width="31" height="36" /></a></p>
                            <p><a href="#06">关注者</a></p>
                      </li>
                        <div class="clear"></div>
                    </ul>
                    <div class="share">分享到：<a href=" #"><img src="images/icon/sina_s_on.png" alt="新浪" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/tencen_s_on.png" alt="腾讯" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/douban_s_on.png" alt="豆瓣" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/kaixin_s_on.png" alt="开心网" width="17" height="17" align="absmiddle" /></a><a href="#"><img src="images/icon/renren_s_on.png" alt="人人网" width="17" height="17" align="absmiddle" /></a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="whitespace winerymain">
        	<div class="left">
       	  		<div class="section">
                	<div class="title"><h2><a name="01" id="01"></a>照片<span class="font12 more"><a href="winery_photo_list.html">（共12张...）</a></span></h2></div>
                    <div class="content">
                    	<ul class="winery_pic">
                        	<li><a href="winery_photo_detail.html"><img src="images/test/winery_pic_130_1.jpg" width="130" height="98" alt="blablabla" /></a></li>
                            <li><a href="#"><img src="images/test/winery_pic_130_2.jpg" width="130" height="130" alt="blablabla" /></a></li>
                            <li><a href="#"><img src="images/test/winery_pic_130_3.jpg" width="130" height="87" alt="blablabla" /></a></li>
                            <li class="last"><a href="#"><img src="images/test/winery_pic_130_4.jpg" width="130" height="87" alt="blablabla" /></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="section">
                	<div class="title"><h2><a name="02" id="02"></a>历史</h2></div>
                    <div class="content">
                    	<p>百子莲酒庄于1990年由埃斯杜耐尔前任酒庄主人Bruno PRATS先生、玛歌古堡总监Paul PONTALLIER先生、首席法兰西香槟所有人兼运营总监Ghislain de MONTGOLFIER先生及智利最著名的农学与酒类学家Felipe de Solminihac先生共同创建。分布于"迈库峡谷"（Quebrada de Macul）43英亩的葡萄园位于迈波山谷（Maipo Valley）的中心地带，主要种植典型的波尔多葡萄品种，包括加本力苏维翁、卡门及美铎（M閐oc）法定产区古老的葡萄品种...<a href="#">阅读全部</a></p>
                    </div>
                </div>
                <div class="section">
                	<div class="title"><h2>为什么到智利在 生产葡萄酒 ?</h2></div>
                  <div class="content">
                   	<p class="mb10">有以下几个理由</p>
                      <p class="mb10">第一 : 我们的葡萄生长季节没有雨水所以葡萄生长非常良好。<br />
                        第二 : 我们MAIPO 山谷地区的葡萄园靠近Cordillière 雪山所以我们可以用Cordillière雪山流下来的水灌溉我们的葡萄园。<br />
                      第三个理由是 :我们的葡萄园地处海拔相对较高600到700米之间 :阳光非常充足、气温比较高、非常有利于植物的光合作用, 所以生产的葡萄糖和丹宁都很足。加之白天和晚上温差很大，大概是20度左右，这个温差对葡萄糖粉含量、酸和香味的形成都很有利。</p>
                        <p><a href="#">阅读全部</a></p>
                    </div>
                </div>
                <div class="section">
                	<div class="title"><h2>VINA AQUITANIA的葡萄酒和别的智利公司的葡萄酒有什么不同 ?</h2></div>
                  <div class="content">
                   	<p class="font14 mb10"><strong>VINA AQUITANIA一 家小型酒庄</strong></p>
                    <p class="mb10">大部分的智利葡萄酒公司是大批量的工业化生产 (Concha y Toro, San Pedro, Claro Group)。而VINA AQUITANIA 是一家小型酒庄，我们公司追求的不是数量，首先是质量。所以我们公司采用的是小批量精酿。VINA AQUITANIA的每年产量是70.000 到100.000 瓶葡萄酒 (SANPEDRO的年产两千多万瓶葡萄酒)</p>
                    <p><a href="#">阅读全部</a></p>
                  </div>
                </div>
                <div class="section">
                	<div class="title"><h2>VINA AQUITANIA的品牌</h2></div>
                    <div class="content">
                    <ul class="mb10">
                    	<li>•	有名的酿酒师</li>
                    	<li>•	波尔多酿酒技术 : 收获葡萄是手册的，采用通过法国橡木桶的陈酿，等等…</li>
                    	<li>•	MAIPO 山谷地区(10.000公顷) : 不仅是智利最古老的葡萄酒生产地而且是出产智利最佳的赤霞珠的地方</li>
                    	<li>•	MALLECO 山谷地区是1995 年被FELIPE DE SOLMINIHAC 发现的。这个葡萄种植区不仅是智利的最南部的葡萄种植区而且是种植霞多丽的最好土壤之一</li>
                    </ul>
                    <p><a href="#">阅读全部</a></p>
                  </div>
                </div>
                <div class="section">
                	<div class="title">
               	    <h2><a name="03" id="03"></a>所有酒款 <span class="font12 more"><a href="winery_wine_list.html">(共34支...)</a></span></h2></div>
                    <div class="content">
                    	<ul class="wine_list">
                        	<li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_04.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                    <p><strong>年份：</strong></p>
                                    <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span></p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_02.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                    <p><strong>年份：</strong></p>
                                    <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span><span><a href="#">1989</a></span><span><a href="#">1988</a></span><span><a href="#">...</a></span></p>
                              </div>
                              <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_03.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                    <p><strong>年份：</strong></p>
                                    <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span></p>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_05.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                    <p><strong>年份：</strong></p>
                                    <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span></p>
                            </div>
                            <div class="clear"></div>
                          </li>
                          <li class="clearfix">
                            	<a href="#"><img src="images/test/wine100_06.jpg" width="100" height="100" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                    <p><strong>年份：</strong></p>
                                    <p class="year"><span><a href="#">2010</a></span><span><a href="#">2009</a></span><span><a href="#">2008</a></span><span><a href="#">2005</a></span><span><a href="#">2003</a></span><span><a href="#">2001</a></span><span><a href="#">2000</a></span><span><a href="#">1998</a></span><span><a href="#">1997</a></span><span><a href="#">1996</a></span><span><a href="#">1995</a></span><span><a href="#">1994</a></span><span><a href="#">1993</a></span><span><a href="#">1992</a></span><span><a href="#">1991</a></span><span><a href="#">1990</a></span><span><a href="#">1989</a></span><span><a href="#">1988</a></span><span><a href="#">...</a></span></p>
                            </div>
                            <div class="clear"></div>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="section last">
                	<div class="title"><a href="winery_comment_list.html#01" class="btn_gray float_r font12"><span>添加评论</span></a>
       	      <h2><a name="04" id="04"></a>评论 <span class="font12 more"><a href="winery_comment_list.html">(共10条...)</a></span></h2></div>
                    <div class="content">
                    	<ul class="comment_list">
                            <li>
                                <div class="userpic"><a href="#"><img src="images/userimage/1.jpg" width="50" height="50" alt="username" /></a></div>
                                <div class="main">
                                    <div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                                    <div class="content">晚上6点就开瓶入Decanter醒酒，一开始感觉青椒味很重，10点半时倒入杯中呈深不见底的暗红色VS边缘的石榴红色，绝对的Full body酒体。</div>
                                    <p><a href="#">有用(12)</a> | <a href="#">回复</a> | <a href="#">删除</a></p>
                                </div>
                              <div class="clear"></div>
                            </li>
                           <li>
                                <div class="userpic"><a href="#"><img src="images/userimage/06.jpg" width="50" height="50" alt="username" /></a></div>
                                <div class="main">
                                    <div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                                    <div class="content">矿石和泥土的气息，黑醋栗、黑莓的果味伴随着香草味，浓郁而强烈</div>
                                    <p><a href="#">有用(3)</a> | <a href="#">回复</a></p>
                                </div>
                                <div class="clear"></div>
                          </li>
                            <li>
                                <div class="userpic"><a href="#"><img src="images/userimage/08.jpg" width="50" height="50" alt="username" /></a></div>
                                <div class="main">
                                    <div class="username"><a href="#">不良夏生</a><span class="date">2012-4-28</span></div>
                                    <div class="content">好诱人的咖喱啊，我也好想吃！</div>
                                    <p><a href="#">有用(0)</a> | <a href="#">回复</a></p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
            	<div class="sidebox">
                	<div class="title"><h3><a name="05" id="05"></a>热门酒款</h3></div>
                    <div class="main">
                    	<ul class="sidewine">
                        	<li>
                            	<a href="#"><img src="images/test/wine70_02.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2001 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70_03.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2001拉菲珍宝</a></h3>
                                    <h3 class="en"><a href="#">2001 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">1995波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">1995 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                          </li>
                            <li>
                            	<a href="#"><img src="images/test/wine70_02.jpg" width="70" height="70" alt="wine name" /></a>
                                <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2004波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2004 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                              </div>
                            </li>
                          <li class="last">
                            	<a href="#"><img src="images/test/wine70.jpg" width="70" height="70" alt="wine name" /></a>
                              <div class="info">
                                	<h3 class="zh"><a href="wine_profile.html">2003波特米勒站赤霞珠干红葡萄酒</a></h3>
                                    <h3 class="en"><a href="#">2003 PORTER MILL STATION Cabernet Sauvignon</a></h3>
                                 </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="sidebox">
                	<div class="title"><h3><a name="06" id="06"></a>关注这个酒庄的人<span class="font12 more"><a href="winery_follower_list.html">(共21人...)</a></span></h3></div>
                    <div class="main">
                    	<ul class="follower">
                        	<li><a href="#"><img src="images/userimage/2.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/08.jpg" width="50" height="50" alt="username" /></li>
                            <li><a href="#"><img src="images/userimage/03.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/04.jpg" width="50" height="50" alt="username" /></li>
                            <li><a href="#"><img src="images/userimage/4.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><a href="#"><img src="images/userimage/07.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><a href="#"><img src="images/userimage/2.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/08.jpg" width="50" height="50" alt="username" /></li>
                            <li><a href="#"><img src="images/userimage/03.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/04.jpg" width="50" height="50" alt="username" /></li>
                            <li><a href="#"><img src="images/userimage/4.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><a href="#"><img src="images/userimage/07.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><a href="#"><img src="images/userimage/2.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/08.jpg" width="50" height="50" alt="username" /></li>
                            <li><a href="#"><img src="images/userimage/03.jpg" width="50" height="50" alt="username" /></a></li>
                            <li><img src="images/userimage/04.jpg" width="50" height="50" alt="username" /></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="footer">
        <div class="link"><a href="aboutus.html">关于我们</a> | <a href="contactus.html">联系我们</a> | <a href="help.html">帮助中心</a> | <a href="privacy.html">隐私条款</a> | <a href="agreement.html">用户协议</a> | <a href="disclaimer.html">免责声明</a> | <a href="sitemap.html">网站地图</a> | <a href="feedback.html">意见反馈</a></div>
        <div class="copyright">Copyright © 2011 iWine, Inc. All rights reserved. <a href="#">沪ICP备12345678号</a></div>
    </div>
</body>
</html>
