 <div class="whitespace">
<div id="hp">

  <%= render "mine/sub_nav" %>
      <div id="cellar">
          <div class="title_btn">
                <h1>我的酒窖 <span class="font12">(共15支)</span></h1>
          </div>
    </div>

</div>