<!-- JiaThis Button BEGIN -->
<div id="ckepop"><span class="jiathis_txt">分享到：</span>
  <a class="jiathis_button_tsina"></a>
  <a class="jiathis_button_tqq"></a>
  <a class="jiathis_button_renren"></a>
  <a class="jiathis_button_douban"></a>
  <a href="http://www.jiathis.com/share?uid=1623461" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
</div>
<script type="text/javascript" >
    var jiathis_config={
        data_track_clickback:true,
        url:"http://www.iwine.com",
        summary:"专业的红酒社区",
        title:"爱红酒，爱生活 #红酒#",
        pic:"http://localhost:3000/assets/waterfall/images/common/logo.gif",
        hideMore:false
    }
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1623461" charset="utf-8"></script>
<!-- JiaThis Button END -->


