

  <h3 class="title">确定要删除这张照片?</h3>
  <div class="popup_content">
    <div class="confirm">
        <a href="javascript:;" onclick="$.fancybox.close(true);" class="btn_gray float_l mr5" >
      <span>取消</span>
    </a>
    <a href="javascript:delete_upload_photo(<%= params[:photo_id]%>);$.fancybox.close(true);" class="btn_gray float_l">
      <span>确定</span>
    </a>

      <div class="clear"></div>
    </div>
    </div