

  <h3 class="title">确定要删除这这个相册?</h3>
  <div class="popup_content">
    <div class="confirm">

<p class="red mt20">注意：删除本相册将会同时删除本相册的所有照片！</p>

        <a href="javascript:;" onclick="$.fancybox.close(true);" class="btn_gray float_l mr5" ><span>取消</span></a>
    <%= form_tag :action => 'delete' do %>
    <a href="javascript:;" onclick="$(this).parent().submit();$.fancybox.close(true);" class="btn_gray float_l"><span>确定</span></a>
    <input type="hidden" name="album_id" value="<%= params[:album_id] %>" />
    <% end %>

      <div class="clear"></div>
    </div>
    </div