<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name delet">
            
            {% if (file.error) { %}
                <span style="text-decoration:line-through;">{%=file.name%}</span>
                <div class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div>
            {% } else { %}
                <span>{%=file.name%}</span>
            {% } %}
        </td>

        {% if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active progress-animated" >
                    <div class="bar" style="width:0%;" ></div>
                </div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary" style="display:none">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning" style="margin:0;padding:0;background:none;border: 0">
                <i class="icon-ban-circle icon-white"></i>
                <span><img src="/images/icon/delet.gif" /></span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>