<h4 class="relative">
  <!-- TODO: 请换成正确的用户 -->
 
  <%#= link_to_user current_user, users_path(current_user), :with_avatar => true, :avatar_version => :thumb %>
  <%= link_to "对2001拉菲珍宝的酒评", :controller => "items", :action => "edit", :id => @item %>
<br />
  <span class="time"> 2011-12-23 </span>
  <i class="red absolute">82<span class="font_12">分</span></i>
</h4>
<div class="item">
  <table border="0" cellspacing="10" cellpadding="5">
    <tr>
      <td class="label" valign="top"><span>外观</span></td>
      <td class="text">明亮清澈的中等宝石红色。</td>
    </tr>
    <tr>
      <td class="label" valign="top"><span>香气</span></td>
      <td class="text">香气很浓郁很年轻。 静止时：有烤过的木头，红色水果特别是新鲜浆果的味道。 晃杯后：有一些薄荷，新鲜草莓和一些隐约有的烟熏味道。
      </td>
    </tr>
    <tr>
      <td class="label" valign="top"><span>口感</span></td>
      <td class="text">干，高酸度，单宁中等，单宁相对细腻，显得不是很成熟。酒精度中等偏高，酒体也梢厚，味道丰富，有很多晒干的植物系的味道，红色水果的风味明显，还有一些苦味。回味很长。
      </td>
    </tr>
    <tr>
      <td class="label" valign="top"><span>总结</span></td>
      <td class="text">质量还不错，很均衡，余味细致，欠缺复杂度与深度。</td>
    </tr>
  </table>
</div>
