<!-- 如果是相互关注 -->
<% @followers.each do |user| %>
  <div class="item">
    <div class="pic">
      <%= link_to_user user, users_path(user), :with_avatar => true, :avatar_version => :middle %>
    </div>
    <h4> <%= user.username %> </h4>
    <p> <%= user.profile.get_living_city%></p>
  </div>
<% end %>
