<h3> 介绍 </h3>
<div class="text">
拉菲庄是由一名姓拉菲（Lafite）的贵族创园于1354年，在十四世纪已相当有名气。到了1675年她由当时世界的酒业一号人物希刚公爵（J. D. Segur）购得。希刚当时在酒界叱咤风云，他同时拥有顶级的历史名庄拉图（Chateau Latour）、木桐（Chateau Mouton）和凯龙世家（Chateau Calon-Segur）。法王路易十四曾说希刚家族可能是法国最富有的家族。在十七世纪，法国基本上是勃艮第（Burgundy）酒的天下。而当时上流社会的著名“交际花”法王路易十五的情妇庞巴迪因在罗曼尼酒庄的争夺中，输给了路易十五的堂兄弟，波旁王朝的亲王，康帝亲王（Prince de Conti），因而把兴趣转投向拉菲，令拉菲往往成为凡尔赛宫贵族们的杯中佳物。1755年希刚家族的第三代掌门人去世后，拉菲产权进入了一段较为混乱的历史时期。但拉菲酒的品质依旧不为人失望...
<%= link_to "(阅读全部)", :controller => "items" %>
</div>
