<div class="whitespace addwine">
	<%#= render "wine_details/addwine_step" %>
	<h1 class="main_title">添加酒款</h1>
	<div class="step">
		<div class="step_fir"></div>
	</div>
  <div class="search">
    <%= render :partial => "wine_details/search_wine", :object => @search %>
  </div>
</div>



<% content_for :css do %>
<%= theme_stylesheet_link_tag :hp, :add %>
<% end %>