<div class="whitespace addwine">
  <%= render "wine_details/addwine_step", :step => "step_fir" %>
  <div class="search">
    <%= render :partial => "wine_details/search_wine", :object => @search %>
  </div>
</div>



<% content_for :css do %>
<%= theme_stylesheet_link_tag :hp, :add %>
<% end %>