<% content_for :title, @title%> 
  	<div class="errorpage">
  		<%= image_tag "common/500.jpg", :size => "152x137", :alt => "500" %>
  		<p class="mt30">哎呀...你访问的页面好像出了一点问题...<br/>
  			请过一会儿再试试吧       
  		</p>
  	</div>
 