<% content_for :title, @title%>
 <div class="errorpage">
	<%= image_tag "common/404.jpg", :size => "152x137", :alt => "404" %>
	<p class="mt30">
		啊哦...你访问的页面不存在哎...<br/>
		5秒之后将带你进入首页</p>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    function redirect(){
	    	document.location.href="/";
	    }
	     setTimeout(redirect, 5000) // 3秒
	});
</script>