<% sub_menu = { "index" => "/mine", "cellars" => "/mine/cellars", "albums" => "/mine/albums", "wines" => "/mine/wines", "wish" => "/mine/wish", "do" => "/mine/do" } %>
<div id="navcontainer">
	<ul id="navlist">
		<% sub_menu.each do |action_name, url| %>
		 <% if action == action_name %>
			<li  id="active" ><%= link_to t("nav.sub_nav.mine.#{action_name}"),  url, {:id => "current"} %></li>
		 <% else %>
			<li><%= link_to t("nav.sub_nav.mine.#{action_name}"), url %></li>
		 <% end %>
		<% end %>
	</ul>
</div>
