<div class="mine index wine_follows">
  <%= render "sub_nav", :action => params[:action] %>
  <div class="clear"></div>

  <div class="left">
    <div class="box box_1">
      <h3>关注的酒 <span class="font_12">(共 12 支)</span> </h3>

      <%= render "mine/share/wine_follows" %>


      <!-- pagination start  -->
      <div class="pagination">
        <nav class="pagination">
          <span class="page current">1</span>
          <span class="page">
            <a href="/mine/conversations?page=2" rel="next">2</a>
          </span>
          <span class="next">
            <a href="/mine/conversations?page=2" rel="next">&gt;</a>
          </span>
          <span class="last">
            <a href="/mine/conversations?page=2">最后</a>
          </span>

        </nav>
      <!-- pagination  end   -->
      </div>


      <!-- .box end -->
    </div>

    <div class="clear"></div>

    <!-- left end -->
  </div>

  <div class="right">
    <div class="box box_1  user_follows" >
      <h3>最多人关注的酒 </h3>
      <%= render "mine/share/most_wine_follows" %>

      <!-- .box end -->
    </div>

    <div class="clear"></div>
    <!-- right end -->
  </div>
  <!-- .mine end -->
</div>

<div class="clear"></div>

