<ul>
  <li><%= link_to "创建的活动", create_events_user_events_path(@user) %></li>
  <li><%= link_to "参加的活动", join_events_user_events_path(@user) %></li>
  <li><%= link_to "感兴趣的活动", follow_events_user_events_path(@user) %></li>
</ul>
