<h3>
  所有图片
  <span class="font_12">
    <%= link_to "(12支, 更多)", :controller => "/mine/cellars" %>
  </span>
</h3>

<div class="items">
  <% (1..6).each do |i| %>
    <%= link_to image_tag("v2/test/m_w_3.png"), "/" %>
  <% end %>
</div>
