<h3>
  所有图片
  <span class="font_12">
    <%= link_to "(共#{@wine_detail.photos_count}张, 更多)",
        :controller => "/wines/photos/",
        :action => "list",
        :wine_detail_id => @wine_detail.id %>
  </span>
</h3>

<div class="items">
  <% @wine_detail.photos.each do |photo| %>
    <%= link_to image_tag(photo.image_url(:thumb), :width => 90, :height => 90), "/" %>
  <% end %>
</div>
