
<ul class="clearfix">
    <li>
      <%= raw link_to "#{@wine_detail.followers.size}<br /> 关注".html_safe, "followers" %>
    </li>
    <li>
      <a href="#">2 <br /> 品酒辞 </a>
     </li>
    <li>
      <%= raw link_to "#{@wine_detail.comments.size}<br /> 评论".html_safe, "followers" %>
    </li>
    <li>
      <a href="#">2 <br /> 品酒辞 </a>
     </li>
    <li>
      <%= raw link_to "#{@wine_detail.photos.size}<br /> 评论".html_safe, "followers" %>
    </li>

</ul>
