<% sub_menu = {
     "follows"     => "wine_follows",
     "owner"   => "winery_follows",
     "comments"  => "comments",
     "testing_notes"  => "testing_notes",
     "albums"           => "albums" } %>


<ul class="clearfix">
  <% sub_menu.each do |action_name, url| %>
    <li>
      <%= link_to "2" , url %> <br />
      <%= link_to t("nav.sub_nav.mine.#{action_name}"), url %>
    </li>
  <% end %>
</ul>
