<table border="0" cellspacing="" cellpadding="3">
  <tr>
    <th>评论家</th>
    <th>得分           </th>
    <th>适饮年限</th>
  </tr>
  <tr>
    <td>Jancis Robinson</td>
    <td>18/20</td>
    <td>2014-2024</td>
  </tr>
  <tr>
    <td>Jancis Robinson</td>
    <td>18/20</td>
    <td>2014-2024</td>
  </tr>
  <tr>
    <td>Jancis Robinson</td>
    <td>18/20</td>
    <td>2014-2024</td>
  </tr>
</table>
