<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= @message.sender.username %> 给你发来了新的消息。</h1>
<blockquote>
  <p>
    <%= raw @message.body %>
  </p>
</blockquote>
<p>
  访问 <%= link_to root_url + conversations_path,root_url + conversations_path %> 查看消息.
</p>
</body>
</html>