<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p><%= @message.sender.username %> 给你发来了新的消息。</p>
<p>
  访问 <%= link_to root_url + conversations_path,root_url + conversations_path %> 查看消息.
</p>
</body>
</html>