<div id="span950">
  <div id="hp">
    <%=  render "share/user_cellar" %>
    
    <div id="cellar">
      <div class="title_btn">
        <h1>添加藏酒</h1>
      </div>
      <div class="step">
        <div class="step_fir"></div>
      </div>
      <%=  render "search_cellar", :object => @search %>
    </div>
    
  </div>
</div>
