<div class="like float_r">|&nbsp;&nbsp;&nbsp;
	<%= link_to  vote_photo_path(@photo.id), :remote => true, :method => :put, :class => "ajax vote icon_like"  do %>
	赞(<span class="likes_count"><%= @photo.likes.size %></span>)
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	// "有用" 成功时，更新有用的数量
	$("a.vote").bind("ajax:success", function(event, data, textStatus, jqXHR){
		$(this).find("span.likes_count").text(data);
	});
});
</script>