@charset "UTF-8";
#hp {background:url(../images/bg/bg_headerline.gif) repeat-x left 130px;padding:30px 39px;background-color:#ffffff;}
#hp .content {background-color:#fff;}
.hp_header {margin:0 0 50px 0;}
.hp_userimg {float:left;width:130px;margin:0 20px 0 0;}
.hp_header .hp_right {float:right;}
.hp_info {float:left;width:550px;position:relative;_line-height:22px;}
.hp_info .username {font-size:20px;font-weight:bold;margin:0 0 5px 0;_margin:0;}
.hp_info .mystatu {margin:0 0 20px 0;color:#666;}
.hp_info .mystatu span {display:inline-block;margin-left:20px;}
.hp_info .item {line-height:18px;}
.hp_info ul.hp_navi{position:absolute; width:550px;top:100px;}
.hp_navi li {float:left;height:50px;line-height:15px;}
.hp_navi li a {display:block;height:38px;padding:7px 15px 0 15px;text-align:center;color:#333;float:left;}
.hp_navi li a:hover {background:url(../images/bg/bg_navi.gif) repeat-x left top;text-decoration:none;}
.hp_navi li.current a {background:url(../images/bg/bg_navi.gif) repeat-x left top;}
.btn_action, .share_btn .btn {float:right;}
#hp .title_btn {margin:0 0 30px 0;zoom:1;line-height:25px;}
.title_btn h1 {font-size:18px;}
.album_left .info {}
.album_right h2 {font-size:14px;}
.side_album_list h3 {font-size:12px;}

/*------------hp index style--------------*/
#hp .left {width:590px;float:left;margin-right:28px;}
#hp .right {width:250px;float:left;}
.home_left {width:620px;float:left;margin-right:28px;}
.home_right {width:220px;float:left;}
.puzzle {margin-bottom:50px;}
.puzzle span {display:block;float:left; margin:0 1px 1px 0;}
#hp .home_left .comment_list li {width:620px;}
#hp .home_left .comment_list .pic { width:70px;float:left;margin-right:20px;}
#hp .home_left .comment_list .main {width:530px;float:left;}
#hp .left .comment_list .main {width:500px;}
#hp .left .wine_list li {margin:0 0 20px 0;}
#hp .left .wine_list a img{width:100px;float:left;margin-right:20px;}
#hp .left .wine_list .info {width:470px;float:left;}
#hp .left .wine_list .info p {margin-bottom:0;}
#hp .left .wine_list .info h3.en a{color:#999;font-weight:normal;}
#hp .left .wine_list .year span a {margin:0 5px 0 0;color:#993333;text-decoration:underline;display:inline-block;}
#hp .left .wine_list .year span a:hover {text-decoration:none;color:#993333;}
#hp .sidebox {margin: 0 0 20px 0;}
#hp .right .sidebox .title {border-radius:0;background-color:#e6e6e6;padding:5px 15px;}
#hp .right .sidebox .title h3 {font-size:14px;}
#hp .right .sidebox .main {padding:15px;background-color:#f7f7f7;}
#hp .right .sidewine {zoom:1;}
#hp .right .sidewine li {margin-bottom:20px;width:220px;float:left;}
#hp .right .sidewine li.last {margin-bottom:0;}
#hp .right .sidewine a img {width:70px;float:left;margin-right:10px;}
#hp .right .sidewine .info {width:130px;float:left;}
#hp .right .sidewine .info h3.zh {font-size:12px;}
#hp .right .sidewine .info h3.en a {font-size:12px;font-weight:normal;color:#999;}
#hp .right .sidewine .info h3.en a:hover {color:#999;text-decoration:none;}


/*-------------album style----------------*/
ul.album_list {padding:0 0 0 10px;}
ul.album_list li {float:left;width:163px;margin:0 25px 40px 25px;}
ul.album_list li img.cover {background:url(../images/bg/bg_album.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 10px 0;}
ul.album_list li h2, ul.photo_list li .name, .album_left .photo .name, .side_album_list h3 {font-size:13px;margin:0 0 5px 0;}
ul.album_list li h2 a, .side_album_list h3 a, .like a {color:#333;}
ul.album_list li h2 a:hover, .side_album_list h3 a:hover, .like a:hover {color:#cc3333;text-decoration:none;}
ul.album_list li .info, ul.photo_list li .info, .side_album_list .info  {color:#999;}
ul.photo_list {zoom:1;}
ul.photo_list li {display:inline-block;float:left; vertical-align:top; width:190px;height:200px;padding:0 14px 40px 13px;_padding: 0 14px 40px 12px;}
ul.photo_list li img {margin:0 0 10px 0;}
ul.photo_list li .intro, .album_left .photo .intro{margin:0 0 5px 0;}
.content .album_left {width:590px;float:left;margin:0 28px 0 0;}
.content .album_right {width:200px;float:left;padding-left:50px;}
.album_left .info {border-top:1px solid #ccc;padding:10px 0 0 0;margin:15px 0 40px 0;color:#666;}
.album_left .photo img {margin:0 0 10px 0;}
.album_left .comment_list .main {width:520px;}
.album_left .post_main {width:490px;}
.album_left .post_main textarea {width:470px;height:80px;}
.album_right h2 {margin:0 0 20px 0;}
img.cover_s {background:url(../images/bg/bg_album_s.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 5px 0;}
.side_album_list li {margin:0 0 30px 0;}
.add_album {margin:0 0 0 20px;}
input.photo_name, textarea.photo_des {width:178px;}
textarea.photo_des {min-height: 70px;_height:70px;} 
li.photo_des p {margin: 0 0 5px 0;}
.uploade {margin-bottom:20px;}
.uploade table {border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ccc;}
.uploade td{border-bottom:1px solid #ccc;padding:5px 10px;}
.uploade td.delet {width:50px;text-align:right;}
.uploade_done td {padding:10px 0;}
.uploade_done td.pic {width:100px;}
.uploade_done td.pic img {margin-bottom:5px;}
.uploade_done td.des {padding-left:20px;}
.uploade_done td.des textarea {width:400px;}
.uploade_done li {width:590px;float:left;margin-bottom:20px;}
.uploade_done .thumb {width:100px;float:left;padding-right:20px;}
.uploade_done .thumb img {margin-bottom:5px;}
.uploade_done .des {width:470px;float:left;}
.uploade_done .des textarea {width:470px;height:70px;}

/*------------cellar style--------------*/
.sort_search { vertical-align:middle;}
.sort {float:left;margin:0 5px 0 0;}
.sort_search .search {float:left;width:}
#cellar .search input {width:250px;}
.wine_data table {border-top:1px solid #ccc;margin: 0 0 30px 0;}
.wine_data th, .wine_data td {padding:15px;border-bottom:1px solid #ccc;}
.wine_data th {background-color:#f3f3f3;font-size:13px;}
.wine_data td.img, .wine_data td.year , .wine_data td.count, .wine_data td.price, .wine_data td.place{text-align:center;}
.wine_data td.img {width:50px;}
.wine_data td.year {width:40px;t}
.wine_data th.des, .wine_data th.info {text-align:left;}
.wine_data td.des {width:150px;}
.wine_data td.info {width:150px;}
#cellar .step {margin: 0 0 40px 0;}
.step_fir, .step_sec, .step_thr {background:url(../images/common/step_cellar_addwine.jpg) no-repeat;height:40px;}
.step .step_fir {background-position:0 0;}
.step .step_sec {background-position:0 -40px;}
.step .step_thr {background-position:0 -80px;}
#cellar .wine_list li {background:url(../images/bg/wine_search_bg.jpg) no-repeat left top;height:76px;padding:20px 30px;margin:0 0 20px 0;}
#cellar .wine_list .wine_img {float:left;width:70px;margin: 0 20px 0 0;}
#cellar .wine_list .add_to_cellar {float:right;padding: 20px 0 0 0;}
#cellar .wine_list .wine_info {float:left;width:600px;}
#cellar .wine_list .wine_info h2 {font-size:14px;}
#cellar .wine_list .wine_info h3 {font-size:12px;font-weight:normal;color:#666;}
