<% @following_wines.each_with_index do  |follow, index| %>
<% if index > 1 %>
<%= link_to wine_cover_tag(follow.followable, 
						   :thumb_name => :thumb, 
						   :size => "100x100", 
						   :align => "center"), 
						   wine_path(follow.followable.id) %>
<% else %>
<div class="large_list">
  <%= link_to wine_cover_tag(follow.followable, 
  							:thumb_name => :thumb, 
  							:size => "203x203",
  							 :align => "left"), wine_path(follow.followable.id) %>
</div>
<% end %>
<% end %>
