<!-- 如果是相互关注 -->
<% @followers.each do |friendship| %>
  <div class="item">
    <div class="pic">
      <%= link_to (image_tag friendship.follower.avatar, :width => 50, :height => 50, :align => "left" ), :controller => "items", :action => "edit"%>
    </div>
    <h4> <%= friendship.follower.username %> </h4>
    <% if current_user.is_following friendship.follower_id %>
      <p> 互相关注 </p>
      <p> <%= link_to "取消关注", '/friends/unfollower?user_id='+friendship.follower_id.to_s %> </p>
    <% end %>
  </div>
<% end %>