<div class="middle">
  <%= link_to (image_tag "v2/test/u_1.png", :align => "left", :width => 100, :height => 100 ), :controller => "items", :action => "edit", :id => @item %>
  <% (1..8).each do |i| %>
  <%= link_to (image_tag "v2/test/u_2.png", :align => "left" ), :controller => "items", :action => "edit", :id => @item %>
<% end %>
</div>
