<div class="large_list">
<% (1..2).each do |i| %>
  <%= link_to (image_tag "v2/test/m_w_1.png", :align => "left" ), :controller => "items", :action => "edit", :id => @item %>
<% end %>
</div>

<div class="small_list">
<% (1..4).each do |i| %>
  <%= link_to (image_tag "v2/test/m_w_2.png", :align => "center"), :controller => "items", :action => "edit", :id => @item %>
<% end %>
</div>

