<h2>添加酒款</h2>
<div class="wine_register">
  <div class="content">
    <div class="wine_add_step1 mb30">第一步：搜索你想上传酒</div>
    <%= render :partial => "mine/wines/search_wine", :object => @search %>
  </div>
</div>
