                        <h1>我的酒窖</h1>
                        <ul class="winery_tab clearfix">
                            <li><a href="cellar_mycellar.html"><span>我的藏酒</span></a></li>
                            <li><a href="cellar_bid_record.html" class="current"><span>我竞拍的酒(3)</span></a></li>
                            <li><a href="cellar_bid_record2.html"><span>别人拍我的酒(2)</span></a></li>
                        </ul>
                        <div class="winery_main">
                                <div class="sort_item clearfix">
                                    <div class="float_l">共10支 | 排序：</div>
                                      <select class="mr10 float_l" id="select" name="select">
                                        <option selected="selected">默认</option>
                                        <option>年份</option>
                                        <option>库存</option>
                                        <option>购入价格</option>
                                      </select>
                                </div>
                                <div class="content">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" class="winery_list mb30">
                                      <tbody><tr>
                                        <th>酒标</th>
                                        <th>年份</th>
                                        <th>名称&amp;描述</th>
                                        <th>相关信息</th>
                                        <th>容量</th>
                                        <th>库存</th>
                                        <th>出价</th>
                                        <th>总值</th>
                                        <th>当前最高价</th>
                                        <th>所在地</th>
                                        <th>拥有人</th>
                                        <th>&nbsp;</th>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"><div class="new"><img width="21" height="9" alt="New" src="images/new.gif"></div></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                        <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                        适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a class="fancybox fancybox.ajax btn_delete float_l" href="cellar_delete_confirm.html">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"><div class="new"><img width="21" height="9" alt="New" src="images/new.gif"></div></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_white.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_white.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                      <tr>
                                        <td><div class="wine_img"><img width="50" height="63" alt="2001拉菲珍宝" src="/images/test/win_50p.jpg"></div></td>
                                        <td>2001</td>
                                        <td>2001拉菲珍宝<br>
                                          Carruades de lafittle<br>
                                          法国-波尔多-波亚克<br>
                                          拉菲古堡<br>
                                          <img width="18" height="7" alt="红葡萄酒" src="/images/wine_red.gif"> 红葡萄酒</td>
                                        <td>购买时间: 2005年<br>
                                          酒商: 某某酒商<br>
                                          适饮年限: 2002-2014年</td>
                                        <td>750ml</td>
                                        <td>2</td>
                                        <td>￥175</td>
                                        <td>￥350</td>
                                        <td>￥200/支</td>
                                        <td>上海</td>
                                        <td class="user"><img width="30" height="30" alt="user_name" src="../images/test/user_img30.jpg"><a href="#">秀秀</a><a title="发送邮件" class="btn_mail" href="#">发送邮件</a></td>
                                        <td><a title="删除藏酒" class="btn_delete float_l" href="#">删除</a></td>
                                      </tr>
                                    </tbody></table>
                                    <div class="pagination"><span class="disabled"> &lt; </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> &gt; </a></div>
                               </div>
                            <div class="clear"></div>
                        </div>
                    