<% content_for :title, @title%>
<div class="success">
  感谢您成为iWine会员！<br />
  我们已将激活邮件发送至您的邮箱：
  <% if params[:email] %>
    <% email_end = params[:email].split("@").pop %>
    <% if EMAIL_SITE["#{email_end}"] %>
      <%= link_to params[:email], EMAIL_SITE["#{email_end}"] %>
    <% else %>
      <%= params[:email] %>
    <% end %>
  <% end %>
  <br />
  请登录邮箱并激活，即可完成注册！
</div>
<div class="mt30">
  <p>没有收到激活邮件？</p>
  <p>
    1 请确保邮件地址是否正确，如果错误就请<%= link_to "重新注册", register_path %>一次吧<br />
    2 我们的邮件或许进了垃圾邮件箱，请去看一看<br />
    3 稍等几分钟，若仍旧没收到确认信，可以让iWine<%= link_to "重发一封", "/users/confirmation/new" %>
  </p>
</div>