@charset "UTF-8";
.addwine {padding:30px 134px;}
.addwine h1, .box_ew {margin: 0 0 20px 0;}
.step_fir, .step_sec, .step_thr {background:url(common/step_cellar_addwine.jpg) no-repeat;height:40px;}
.addwine .step {margin: 0 0 40px 0;}
.addwine .step .step_fir {background-position:0 -130px;}
.addwine .step .step_sec {background-position:0 -170px;}
.addwine .step .step_thr {background-position:0 -210px;}
.box  {background:url(bg/bg_box_m.gif) repeat-y    ;margin: 0 0 20px 0;}
.box_t {width:680px;height:10px;background:url(bg/bg_box_t.gif) no-repeat left top;}
.box_b {width:680px;height:25px;background:url(bg/bg_box_b.gif) no-repeat left top;}
.box_main {padding:15px 30px 0 30px;}
.addwine .box .wine_img {float:left;widht:70px;margin: 0 20px 0 0;}
.addwine .box .wine_info {float:left;width:530px;}
.addwine .box .year span a {margin:0 5px 0 0;text-decoration:underline;display:inline-block;}
.addwine .myform .left {width:680px;}
.addwine .myform .left .required, .addwine .myform .left .optional {width:680px;}
.addwine .myform .left .areas {width:560px;float:left;}
.addwine .myform .left .areas select {display:block;margin-bottom:5px;}

.add_event_step {background-color:#cce3f1;padding:10px 25px;margin:0 0 30px 0;}
.search_result_space {height:350px; overflow:auto;margin:0 0 30px 0;}
.box_ew  {margin: 0 0 20px 0;}
.box_ew .box_main {padding:0;margin:0;}
.box_ew .wine_img {float:left;widht:70px;margin: 0 20px 0 0;}
.box_ew .wine_info {float:left;width:560px;}
.box_ew .year span a {margin:0 5px 0 0;text-decoration:none;display:inline-block;color:#6699cc;}
.box_ew .year span a:hover {background-color:#6699cc;color:#fff;}
.wine_select {background-color:#f3f3f3;padding:20px;margin:0 0 30px 0;}
.wine_select dl {width:310px;height:75px;float:left;margin:0 10px 20px 0;position:relative;}
.wine_select dt {width:70px;float:left;margin-right:15px;}
.wine_select dd {width:220px;float:left;}
.wine_select dl span {position:absolute;left:59px;top:-9px;}
.ui-menu-item:hover {background:url(bg/body_bg.jpg) repeat;}

.add_notes_step {background-color:#ebe2d1;padding:10px 25px;font-size:16px;font-weight:bold;}
.addnotes td.title {background-color:#f8f6f1;font-weight:bold;font-size:14px;}
.addnotes td {border-bottom:1px dotted #ccc;padding: 10px 20px;}
.addnotes th {border-bottom:1px dotted #ccc;border-right:1px dotted #ccc;width:70px;text-align:right;padding:10px 20px 10px 0;}
.addnotes label {margin:0 20px 0 0;}
.addnotes td.tannin span{display:inline-block;float:left;margin:0 20px 0 0;padding:3px 10px;background-color:#ece9e2;}
.addnotes .delet {position:absolute;left:115px;top:-5px;z-index:1;}
ul.danning_list {width:120px;float:left;}
ul.danning_list li {margin:0 20px 5px 0;}
ul.danning_list span {background:url(bg/bg_f.gif) no-repeat left top;width:89px;height:32px;text-align:center;padding:5px 0 0 0;line-height:27px;display:block;font-weight:bold;}
.f1, .f2, .f3, .f4 {margin: 0 0 0 5px;}
ul#stars li{float:left;display:inline;}
