/*icon*/
.icon_mail, .icon_like, .icon_add_album, .icon_delet, .icon_edit, .icon_add, .icon_delet2, .icon_comment, .icon_fol, .icon_fol_e, .icon_cellar {background:url(icon/icon_all.gif) no-repeat;display:inline-block;}
a.icon_delet, a.icon_edit, a.icon_add, a.icon_delet2, a.icon_cellar {text-indent: -9999px;display:inline-block;}
a.icon_mail {background-position:0 4px;_background-position:0 2px;background-position:0 2px\0;display:inline-block;padding:0 0 0 20px;}
a.icon_like {background-position: 0 -16px;padding:0 0 0 20px;}
a.icon_add_album {background-position: 0 -35px;padding:0 0 0 20px;height:17px;line-height:17px;}
a.icon_delet {background-position:0 -56px;height:13px;width:13px;}
a.icon_edit {background-position:0 -74px;height:13px;width:13px;}
a.icon_add {background-position:0 -92px; height:14px;width:14px;}
a.icon_delet2 {background-position:0 -115px;height:13px;width:13px;}
.follower a.icon_delet2 {position:absolute;left:160px;top:3px;}
a.icon_cellar {background-position:0 -190px;height:10px;width:10px;}
.icon_fb, .icon_tt, .icon_sina, .icon_fb_off, .icon_tt_off, .icon_sina_off {background:url(icon/sns_link.gif) no-repeat ;display:block;float:left;height:23px;width:23px; text-indent:-9999px;}
.icon_fb {background-position: 0 0;}
.icon_tt {background-position:-28px 0;}
.icon_sina {background-position:-56px 0;}
.icon_fb_off {background-position: 0 -27px;}
.icon_tt_off {background-position:-28px -27px;}
.icon_sina_off {background-position:-56px -27px;}
a.icon_comment {background-position:0 -143px;padding-left:15px;}
.icon_fol {background-position:3px -172px;padding-left:15px;color:#999;}
.icon_fol_e {background-position:1px -159px;padding-left:15px;color:#999;}
.cancl_fol a {color:#a8bbc6;}

/*---------table style-----------*/
.data_style1 td {background-color:#f3f3f3;border-right:2px solid #fff;border-bottom:2px solid #fff;padding:2px 10px;}
table#special_comment_items, table#variety_items{width:400px}

/*------search dropdown------*/
/* line 419, ../../../../app/assets/themes/waterfall/stylesheets/main.css */
.ui-autocomplete {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 9999;
    list-style-type:none;
}
.ui-autocomplete li{style:none;}