body {font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#f5f5f5;margin:0px;padding:0px;color:#666;line-height: 18px;}
*{margin:0;padding:0;}
.clear {clear:both;zoom:1;height:0px;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: normal;}

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 14px; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {margin: 0;}

h2.sidebar {font-size:14px;color:#333;}

/* Use this to create a horizontal ruler across a column. */
hr {background: #ddd;color: #ddd;clear: both;float: none;width: 100%;height: 1px;margin: 0 0 17px;border: none;}
hr.space {background: #fff;color: #fff;visibility: hidden;}

ul, li {margin:0;padding:0;}
ul, li {list-style:none;}

/*form css*/
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;text-align:center;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}
input, textarea {border-radius: 3px;background:none repeat scroll 0 0 #fff;padding:2px 5px; font-size:12px;font-family:Arial, Helvetica, sans-serif;}
input.text, input.year, input.month, input.quantity, input.price, textarea {border:1px solid #ccc;}
input {height:19px;}
input.year {width:50px;}
input.month {width:30px;}
input.quantity {width:40px;}
input.price {width:50px;}
input.radio, input.checkbox{border:none;padding:0;margin:0;}
input.wine_search {width:250px;}
input.winemaker {width:200px;}
textarea.popup_comment, textarea.comment {width:97%;height:100px;}

.float_l {float:left;}
.float_r {float:right;}
.align_c {text-align:center;}
.margin_auto {margin-left:auto;margin-right:auto;}
a{color:#cc6666;text-decoration:none;}
a:hover {color:#cc6666;text-decoration:underline;}
.time {color:#bbb;font-size:11px;}
.red {color: red;}
.last {margin-right:0;}
.success_information {background-color:#ddebb4;border:1px solid #b5c488;padding:20px;text-align:center;}
.f14 {font-size:14px;}
img {border:none;}
.count_more {font-size:12px;}
.l_price {background-color:#ccffcc;font-style:italic;}
#backtotop {position:fixed;}

.mr5 {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr20 {margin-right:20px;}
.mr30 {margin-right:30px;}
.mr10 {margin-right:10px;}
.mr50 {margin-right:50px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb5 {margin-bottom:5px;}
.mauto {margin-right:auto;margin-left:auto;}

.sp100 {width:100px;}
.sp200 {width:200px;}


.star_s0, .star_s1, .star_s2, .star_s3, .star_s4, .star_s5 {background:url(base/star.jpg) no-repeat;display:inline-block;width:65px;height:12px;margin-top:2px;}
.star_b_s00, .star_b_s05, .star_b_s10, .star_b_s15, .star_b_s20, .star_b_s25, .star_b_s30, .star_b_s35, .star_b_s40, .star_b_s45, .star_b_s50 {background:url(base/star.jpg) no-repeat;display:inline-block;width:79px;height:14px;}
.star_s5 {background-position: 0 0;}
.star_s4 {background-position: 0 -24px;}
.star_s3 {background-position: 0 -48px;}
.star_s2 {background-position: 0 -72px;}
.star_s1 {background-position: 0 -96px;}
.star_s0 {background-position: 0 -120px;}
.star_b_s50 {background-position: 0 -142px;}
.star_b_s45 {background-position: 0 -156px;}
.star_b_s40 {background-position: 0 -170px;}
.star_b_s35 {background-position: 0 -184px;}
.star_b_s30 {background-position: 0 -198px;}
.star_b_s25 {background-position: 0 -212px;}
.star_b_s20 {background-position: 0 -226px;}
.star_b_s15 {background-position: 0 -240px;}
.star_b_s10 {background-position: 0 -254px;}
.star_b_s05 {background-position: 0 -268px;}
.star_b_s00 {background-position: 0 -282px;}

.star_rate {float:left;}
.star_rate img {margin-right:1px;}
/*button style*/

a.button_red, a.button_red span, a.button_red:active, a.button_reda:active span, a.button_brown, a.button_brown span, a.button_brown:active, a.button_brown:active span {background:url(base/btn_red.gif) no-repeat;}
a.button_red {background-position:left top;display:inline;padding-left:20px;color:#fff;text-decoration:none;font-size:14px;}
a.button_red span {background-position:right top;float:left;display:block;height:30px;line-height:30px;padding-right:20px;}
a.button_red:active {background-position:left -30px;}
a.button_red:active span {background-position:right -30px;}

a.button_gray, a.button_gray span, a.button_gray:active, a.button_gray:active span, a.button_gray_b, a.button_gray_b span, a.button_gray_b:active, a.button_gray_b:active span {background:url(base/btn_gray.gif) no-repeat;}

a.button_gray {background-position:left top;display:inline;padding-left:10px;color:#333;text-decoration:none;}
a.button_gray span {background-position:right top;display:block;float:left;height:25px;line-height:25px;padding-right:10px;}
a.button_gray:active {background-position:left -25px;}
a.button_gray:active span {background-position:right -25px;}
a.button_gray_b {background-position:left -60px;display:inline;padding-left:15px;color:#333;font-size:14px;text-decoration:none; }
a.button_gray_b span {background-position:right -60px;display:block;float:left;height:30px;line-height:30px;padding-right:15px;}
a.button_gray_b:active {background-position:left -90px;}
a.button_gray_b:active span {background-position:right -90px;}

a.button_brown {background-position:left -97px;display:inline;padding-left:10px;color:#fff;text-decoration:none;}
a.button_brown span {background-position:right -97px;display:block;float:left;height:25px;line-height:25px;padding-right:10px;}
a.button_brown:active {background-position:left -122px;}
a.button_brown:active span {background-position:right -122px;}

/*icon style*/

a.btn_edit, a.btn_delete, a.btn_mail {display:block;background:url(base/icon.gif) no-repeat;text-indent:-9999px;}
a.btn_edit {background-position:0 0;height:15px;width:15px;}
a.btn_delete {background-position:0 -26px;height:15px;width:15px;}
a.btn_mail {background-position:0 -49px;height:12px;width:16px;}
a.btn_bid {background:url(base/btn.jpg) no-repeat;text-indent:-9999px;}
a.btn_bid {display:block;background-position:0 0;width:50px;height:25px;}
a.btn_bid:active {background-position:0 -25px;}
 
.icon_userlevel {background:url(base/icon.gif) no-repeat;display:block;}
.icon_userlevel {width:13px;height:12px;background-position: 0 -177px;}
.icon_like {background:url(base/icon.gif) no-repeat 0 -176px;padding-left:20px;}

/*globel style*/
#wrapper {background:url(base/wp_bg.gif) repeat-x left top;padding:20px 0 0 0;}
#header {width:970px;margin:0px auto;padding:auto 10px;}
#topspace {margin:0 0 20px 0;_margin:0px;}
#logo {float:left;}
#topnavi {float:right;}
#globel_navi_search {margin:0 0 20px 0;_margin:0px;}
#globel_navi {float:left;}
#globel_navi ul {background:url(base/dotted.gif) repeat-y right top;float:left;}
#globel_navi ul li {float:left;padding:0 10px;background:url(base/dotted.gif) left top repeat-y;}
#globel_navi ul li a {float:left;display:block;height:32px;line-height:30px;padding-left:30px;color:#333;font-size:14px;font-weight:bold;}
#globel_navi ul li a span{float:left;display:block;height:32px;padding-right:30px;}
#globel_navi ul li a.current {background:url(base/btn_red.gif) no-repeat left -60px;height:32px;padding-left:30px;color:#fff;}
#globel_navi ul li a.current span{background:url(base/btn_red.gif) no-repeat right -60px;height:32px;padding-right:30px;}
#globel_search {float:right;}
#globel_search input {border:2px solid #ac1010;border-right:none;float:left;height:21px;width:300px;border-radius: 3px 0 0 3px;}
#globel_search a {float:left;display:block;background:url(base/btn.jpg) no-repeat left -60px;width:28px;height:29px;text-indent:-9999px;}
#mainholder {width:990px;margin:0px auto;margin-bottom: 20px;}
#mainholder_top {text-align:center;}
#maincontent {margin:0 5px;min-height:300px;padding-bottom:30px;}
.bg_shadow {background:url(base/bg_shadow.gif) repeat-y left top;position:relative;}
.shadow_side {background:url(base/bg_shadow_side.jpg) no-repeat left top;width:23px;height:306px;position:absolute;left:-18px;top:25px;}
.common_bg #maincontent {background-color:#fff;}
.common_main {padding:20px 30px;}
.common_main #leftcol {width:620px;float:left;}
.common_main #rightcol {width:250px;float:left;}
.common_main #leftcol .sort_space {padding-bottom:5px;border-bottom:1px solid #333;margin:0 0 20px 0;}
.common_main #leftcol .sort_item {float:right;}
.comment_list ul li {padding:0 0 10px 0;border-bottom:1px dotted #ccc;margin-bottom:10px;}
.comment_list .user_img {width:50px;float:left;margin-right:20px;}
.comment_list .comment_main {width:550px;float:left;}
.comment_list .comment_main_profile {width:440px;float:left;}
.comment_list .help_count {float:right;}
.comment_list .name_time_score {margin:0 0 10px 0; overflow: hidden;}
.comment_list .comment_content {}
.comment_list_side {padding-top:55px;}
.comment_list .reply_content {color:#bbb;border-left:1px solid #ccc; margin:0 0 10px 10px;padding-left:5px;}
.comment_list .reply_content2 {background-color:#f3f3f3;padding:5px 10px;margin-bottom:10px;}
.comment_list .comment_input {width:550px;float:left;}
.comment_list .reply_to {color:#bbb; font-style:italic;}
ul.userimg_col4, ul.side_user_have, ul.side_wine_news {margin-bottom:30px;}
ul.userimg_col4 li {float:left;margin:0 5px 10px 5px;}
ul.userimg_col4 li span {display:block;}
ul.userimg_col4 li a {color:#666;}
ul.side_user_have li {margin:0 0 15px 0;}
ul.side_user_have li .user_img {float:left;margin-right:10px;}
ul.side_user_have li .have_info {float:left;width:190px;}
.have_info a {margin-top:10px;}
ul.side_user_nave li p {border-bottom: 3px;;}
ul.side_wine_news li {padding-bottom:5px;border-bottom: 1px dotted #ccc;margin-bottom:5px;}
ul.side_wine_news li a {color:#666;}
.column2 .col_left {width:600px;float:left;margin-right:70px;}
.column2 .col_right {width:250px;float:left;}
/*pagination style*/

div.pagination {padding-right: 3px; padding-left: 3px; padding-bottom: 3px; margin: 3px; padding-top: 3px; text-align: center}
div.pagination a {border-right: #dedfde 1px solid; padding-right: 6px; background-position: 50% bottom; border-top: #dedfde 1px solid; padding-left: 6px; padding-bottom: 2px; border-left: #dedfde 1px solid; color: #99210b; margin-right: 3px; padding-top: 2px; border-bottom: #dedfde 1px solid; text-decoration: none}
div.pagination a:hover {border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #777777}
div.pagination a:active {border-right: #000 1px solid; border-top: #000 1px solid; background-image: none; border-left: #000 1px solid; color: #fff; border-bottom: #000 1px solid; background-color: #777777}
div.pagination span.current {padding-right: 6px; padding-left: 6px; font-weight: bold; padding-bottom: 2px; color: #99210b; margin-right: 3px; padding-top: 2px}
div.pagination span.disabled {padding-right: 6px; padding-left: 6px; padding-bottom: 2px; color: #adaaad; margin-right: 3px; padding-top: 2px}

/*footer*/

#footer {width:970px;margin:20px auto;padding:0 10px;}
#footer a {color:#666;}
#footer .copyright {float:right;font-size:11px;}