/*winery style*/

.winery #maincontent {
	background-color: #660000;
	margin-top: 0px;
	margin-bottom: 0px;
}
.winery #maincontent h1 {
	color: #ffffff;
	font-size: 22px;
	background: url(/assets/base/line_dotted.gif) repeat-x left bottom;
	width: 930px;
	padding: 10px 25px 18px 25px;
}
.winery .mainbg_t {
	height: 5px;
	background: url(/assets/base/bg_winery_t.gif) no-repeat left top;
	margin: 0;
	padding: 0;
}
.winery .mainbg_b {
	height: 5px;
	background: url(/assets/base/bg_winery_b.gif) no-repeat left bottom;
}
ul.winery_tab {
	padding: 20px 10px 0px 10px;
	width: 960px;
}
ul.winery_tab li {
	float: left;
	display: inline-block;
}
ul.winery_tab li a {
	float: left;
	display: block;
	padding-left: 25px;
	background: url(/assets/base/bg_winery_tab.gif) no-repeat left -43px;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
}
ul.winery_tab li a:hover {
	color: #fff;
	text-decoration: underline;
}
ul.winery_tab li a span {
	background: url(/assets/base/bg_winery_tab.gif) no-repeat right -43px;
	display: block;
	padding: 10px 25px 10px 0;
}
ul.winery_tab li a.current {
	background: url(/assets/base/bg_winery_tab.gif) no-repeat left top;
	color: #333333;
}
ul.winery_tab li a.current span {
	background: url(/assets/base/bg_winery_tab.gif) no-repeat right top;
}
ul.winery_tab li a.current:hover {
	text-decoration: none;
	color: #333;
}
.winery_main {
	margin: 0px 10px 20px 10px;
	background-color: #fff;
	padding: 20px;
	clear: both;
}
.btn_addwine {
	float: right;
	width: 70px;
	text-align: right;
}
.winery .sort_item {
	line-height: 22px;
	margin-bottom: 10px;
}
table.winery_list {
	border: 1px solid #ccc;
	border-bottom: none;
}
table.winery_list th, table.winery_list td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
table.winery_list th {
	background-color: #f3f3f3;
	color: #333;
	text-align: left;
	font-size: 13px;
}
table.winery_list th.select_wine {
	width: 50px;
}
table.winery_list td.select_wine {
	vertical-align: middle;
	text-align: center;
}
table.winery_list td {
	vertical-align: top;
}
table.winery_list td.bid {
	width: 80px;
	text-align: center;
}
table.winery_list td.bid p {
	margin-top: 5px;
}
table.winery_list td.bid span {
	letter-spacing: -0.07em;
}
table.winery_list td.user {
	text-align: center;
}
table.winery_list td.user img {
	margin: 0 auto 5px auto;
	display: block;
}
table.winery_list td.user .btn_mail {
	margin: 0 auto;
}
table.winery_list td .wine_img {
	position: relative;
}
table.winery_list td .wine_img .new {
	position: absolute;
	left: 35px;
	top: 5px;
}
.wine_add_step1, .wine_add_step2, .wine_add_step3 {
	background: url(/assets/base/wine_add_step.jpg) no-repeat;
	width: 596px;
	height: 41px;
	text-indent: -9999px;
}
.wine_add_step1 {
	background-position: 0 0;
}
.wine_add_step2 {
	background-position: 0 -41px;
}
.wine_add_step3 {
	background-position: 0 -82px;
}
td.wine_add_img {
	text-align: center;
	border-right: 1px solid #ccc;
	padding-top: 20px;
}
td.add_item {
	border-right: 1px solid #ccc;
	width: 80px;
}
.content h2 {
	margin: 0 0 20px 0;
	font-size: 16px;
	color: #333;
}
