@charset "UTF-8";
.winery_header {background:url(bg/bg_gray_line.gif) repeat-y;background-position: 15px 0;zoom:1;}
.winery_header .cover {width:360px;float:left;}
.winery_header .info {width:305px;float:left;padding:20px;}
.winery_header .logo {margin:0 0 10px 0;}
.winery_header .right{width:203px;float:left;padding:20px;}
.winery_header .score_star .star {margin-right:10px;}
h1.winery_name_ch {font-size:20px;color:#000;margin:0 0 3px 0;line-height:24px;}
h1.winery_name_en {font-size:14px;color:#666;font-weight:normal;margin: 0 0 15px 0;}
.winery_header .count {float:right;padding-top:5px;}
.winery_header .count li {padding-left:15px; float:left;width:60px;}
.count li.follow, .count li.comment {background:url(icon/icon_all.gif) no-repeat;}
.count li.follow {background-position:0 -127px;margin-right:5px;}
.count li.comment {background-position:0 -143px;}
.winery_header .item {zoom:1;margin-bottom:50px;}
.winery_header .item li {float:left; text-align:center;margin:20px 20px 0 0;width:50px;}
.winery_header .item li.last {margin-right:0;}
.winery_header .item p.pic {height:40px;vertical-align:middle; cursor:pointer;} 
.winerymain {padding:30px 40px;}
.winerymain .left {width:590px;float:left;margin-right:28px;}
.winerymain .left .last {margin-bottom:0;}
.winerymain .right {width:250px;float:left;}
.winerymain .section {margin-bottom:50px;}
.winerymain .section .title {border-bottom:1px solid #cccccc;padding-bottom:15px;margin-bottom:20px;}
.winerymain .section h2 {font-size:16px;}
.winery_pic li {width:130px;float:left;margin-right:20px;}
.winery_pic li.last {margin-right:0;}
.winery_pic_list {width:590px;float:left;margin-bottom:20px;}
.winery_pic_list li {width:130px;float:left;margin:0 8px;_margin: 0 7px;}
.winery_pic_list li img {margin-bottom:5px;}
.winerymain .wine_list li {margin:0 0 20px 0;}
.winerymain .wine_list a img{width:100px;float:left;margin-right:20px;}
.winerymain .wine_list .info {width:470px;float:left;}
.winerymain .wine_list .info p {margin-bottom:0;}
.winerymain .wine_list .info h3.en a{color:#999;font-weight:normal;}
.winerymain .wine_list .year span a {margin:0 5px 0 0;color:#993333;text-decoration:underline;display:inline-block;}
.winerymain .wine_list .year span a:hover {text-decoration:none;color:#993333;}
.winerymain .sidebox {margin: 0 0 20px 0;}
.winerymain .sidebox .title {border-radius:0;background-color:#e6e6e6;padding:5px 15px;}
.winerymain .sidebox .title h3 {font-size:14px;}
.winerymain .sidebox .main {padding:15px;background-color:#f7f7f7;}
.winerymain .sidewine {zoom:1;}
.winerymain .sidewine li {margin-bottom:20px;width:220px;float:left;}
.winerymain .sidewine li.last {margin-bottom:0;}
.winerymain .sidewine a img {width:70px;float:left;margin-right:10px;}
.winerymain .sidewine .info {width:130px;float:left;}
.winerymain .sidewine .info h3.zh {font-size:12px;}
.winerymain .sidewine .info h3.en a {font-size:12px;font-weight:normal;color:#999;}
.winerymain .sidewine .info h3.en a:hover {color:#999;text-decoration:none;}
.winerymain .sidebox .follower {zoom:1;}
.winerymain .sidebox .follower li {width:50px;height:50px;float:left;margin: 0 2px 5px 2px;}
.winerymain .comment_post_star .post_main {width:390px;}
.winerymain .comment_post_star .post_main textarea {width:370px;}

/*-------------album style----------------*/
ul.album_list {padding:0 0 0 10px}
ul.album_list li {float:left;width:163px; margin:0 25px 40px 25px;}
ul.album_list li img.cover {background:url(bg/bg_album.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 10px 0;}
ul.album_list li h2, ul.photo_list li .name, .album_left .photo .name, .side_album_list h3 {font-size:13px;margin:0 0 5px 0;}
ul.album_list li h2 a, .side_album_list h3 a, .like a {color:#333;}
ul.album_list li h2 a:hover, .side_album_list h3 a:hover, .like a:hover {color:#cc3333;text-decoration:none;}
ul.album_list li .info, ul.photo_list li .info, .side_album_list .info  {color:#999;}
ul.photo_list li {display:inline-block; vertical-align:top; width:190px;margin:0 33px 40px 0;}
ul.photo_list li.last {margin-right:0;}
ul.photo_list li img {margin:0 0 10px 0;}
ul.photo_list li .intro, .album_left .photo .intro{margin:0 0 5px 0;}
.content .album_left {width:590px;float:left;}
.content .album_left .photo {text-align:center;}
.content .album_right {width:210px;float:left;}
.album_left .info {margin:15px 0 40px 0;color:#666;}
.album_left .photo img {margin:0 0 10px 0;}
.album_left .comment_list .main {width:520px;}
.album_left .comment_post .post_main {width:490px;}
.album_left .comment_post .post_main textarea {width:470px;height:80px;background-color:#fff;}
.post_main .com_s {flaot:left;width:300px;padding-top:3px;}
.post_main .com_s a {display:inline-block;margin-right:10px;position:relative;}
.com_s .sns_on {position:absolute;left:8px;top:8px;}
.album_left .pre_next {text-align:center;}
.album_left .count {display:inline-block;margin:0 10px;}
.album_right h2 {margin:0 0 20px 0;}
img.cover_s {background:url(bg/bg_album_s.gif) no-repeat left top;padding:5px 8px 8px 5px;margin:0 0 5px 0;}
.side_album_list li {margin:0 0 30px 0;}
.add_album {margin:0 0 0 20px;}
input.photo_name, textarea.photo_des {width:184px;}
textarea.photo_des {min-height: 70px;} 
li.photo_des p {margin: 0 0 5px 0;}

