<p>亲爱的iWine用户 <%= @resource.email %>：</p>
<p>您在<%= @resource.reset_password_sent_at.to_s(:cn) %>提交了找回密码请求。请点击以下链接重置您的密码（链接24小时内有效） ：<br />
<%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %><br />
（如果您无法点击这个链接，请将此链接复制到浏览器地址栏后访问）
</p>

<p>如果您没有提交找回密码请求，请忽略此邮件。</p>

<p>本邮件由系统自动发出，请勿回复。</p>

<p>iWine爱红酒</p>