<label><strong>Twitter</strong></label>    <%= config["Twitter"] %><br/>
<label><strong>Facebook</strong></label>   <%= config["Facebook"] %><br/>
<label><strong>Sina</strong></label>    <%= config["Sina"] %>