<% (1..3).each do |i| %>
<div class="item">
  <div class="pic">
    <%= image_tag "v2/test/m_w_3.png", :title => "title", :class => "class" %>
  </div>
  <p class="comment_info">
    评论 <a href="#"> 2001拉非</a> 2011-12-23
    <% 5.times do |i| %>
      <%= image_tag 'base/star_red.jpg', :width=>15, :height=>14 %>
    <% end %>
  </p>
  <p class="description"> 味道确实好 </p>
</div>
<% end %>
