<% content_for :title, @title%>
<div class="whitespace">
	<div id="hp">
	<%= render "users/sub_nav", :action => params[:action] %>
	  <div id="cellar">
      <div class="title_btn">
        <h1>添加藏酒</h1>
      </div>
      <div class="step">
        <div class="step_fir"></div>
      </div>
      <%=  render "search_item", :object => @search %>
    </div>

  </div>

  <div class="clear"></div>
	</div>
	</div>