@charset "UTF-8";
.winery_header {background:url(../image/bg/bg_gray_line.gif) repeat-y 15px top;}
.winery_header .cover {width:360px;float:left;}
.winery_header .info {width:305px;float:left;padding:20px;}
.winery_header .logo {margin:0 0 10px 0;}
.winery_header .right{width:203px;float:left;padding:20px;}
h1.winery_name_ch {font-size:20px;color:#000;margin:0 0 3px 0;}
h1.winery_name_en {font-size:14px;color:#666;font-weight:normal;margin: 0 0 15px 0;}
.winery_header .count {float:right;padding-top:5px;}
.winery_header .count li {padding-left:15px; float:left;width:60px;}
.count li.follow, .count li.comment {background:url(../image/icon/icon_all.gif) no-repeat;}
.count li.follow {background-position:0 -127px;margin-right:5px;}
.count li.comment {background-position:0 -143px;}
.winery_header .item li {float:left; text-align:center;margin:40px 20px 0 0;width:50px;}
.winery_header .item li.last {margin-right:0;}
.winery_header .item p.pic {height:50px;vertical-align:middle; cursor:pointer;} 
.winerymain {padding:30px 40px;}
.winerymain .left {width:590px;float:left;margin-right:28px;}
.winerymain .left .last {margin-bottom:0;}
.winerymain .right {width:250px;float:left;}
.winerymain .section {margin-bottom:50px;}
.winerymain .section .title {border-bottom:1px solid #cccccc;padding-bottom:15px;margin-bottom:20px;}
.winerymain .section h2 {font-size:16px;}
.winery_pic li {width:130px;float:left;margin-right:20px;}
.winery_pic li.last {margin-right:0;}
.winerymain .wine_list li {margin:0 0 20px 0;}
.winerymain .wine_list a img{width:100px;float:left;margin-right:20px;}
.winerymain .wine_list .info {width:470px;float:left;}
.winerymain .wine_list .info p {margin-bottom:0;}
.winerymain .wine_list .info h3.en a{color:#999;font-weight:normal;}
.winerymain .wine_list .year span a {margin:0 5px 0 0;color:#6c96b2;text-decoration:underline;display:inline-block;}
.winerymain .wine_list .year span a:hover {text-decoration:underline;color:#cc3333;}

